doctype html
html(lang='en')
  head
    title mongoscope
    link(rel='stylesheet', href='css/index.css')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
  body.loading
    .container-fluid(style="height: 100%;")
      .row(style='height: 100%; overflow-y: scroll;')
        #sidebar.col-md-2.col-sm-3

        #mongoscope.col-md-10.col-sm-9

    #modal.modal.modal-dialog

  script(src='index.js')
