doctype html
html(lang='en')
  head
    title mongoscope
    link(rel='stylesheet', href='css/index.css')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
  body.workspace.panes.pane.item-views.active.loading
    #toolbar
    #status
      span.logo.inline-block
        svg.inline-block(viewBox="0, 0, 200, 200", version="1.1")
          g
            path(d="M 49.4269 122.2742 C 43.975 114.2084 92.4275 32 98.5704 32 C 104.7134 32 129.2851 43.7134 126.8279 48.9643 C 113.6716 77.0788 84.9312 135.4446 81.9845 134.9975 C 71.3367 133.3818 55.5699 131.3622 49.4269 122.2742 Z")
            path(d="M 108.0216 39.6247 C 109.9814 36.9572 117.8735 27.66 117.8735 26.0994 C 117.8735 20.2504 112.7211 10.3777 120.4214 12.2273 C 128.1217 14.0769 141.4273 24.2498 135.5389 27.4866 C 129.6504 30.7235 126.9327 24.77 123.309 30.7813 C 119.6853 36.7925 116.7532 41.8195 116.5146 44.1332 C 116.1749 47.4278 107.512 40.3183 108.0216 39.6247 Z")
            path(d="M 112 64.5 C 117.7454 62.7708 177.5 63.5 182.5 108.5 C 187.0829 149.7462 171.628 175.6394 168.5 182 C 166.9798 185.0911 68.0573 185.9565 65 182 C 48 160 64.5 174 62.5 169.5 C 60.5 165 45.5 172 41 163 C 32.8869 146.7738 24.8783 152.153 48 149 C 70 146 125 146 128 148 C 137.4217 154.2812 134.5 160.5 134.5 160.5 C 134.5 160.5 141.1787 162.9935 144.5 158.5 C 153 147 155.6667 133.8333 155.5 123.5 C 155.4022 117.434 156 95 144.5 91.5 C 132.0469 87.7099 96 89 95 92 C 94 95 107.7083 65.7917 112 64.5 Z")
        span.inline-block mongoscope

    #mongoscope
    #modal.modal.modal-dialog

  script(src='index.js')
