@import "font-awesome";

@import "bootstrap";
@import "mongoscope/index";


@mongo-green: #6ba442;
@font-family-monospace:   Consolas, "Liberation Mono", Courier, monospace;

@matrix-column-width: 40px;
@background-color-selected: #6ba442;

@import "variables";
// @import "themes/atom-dark";
// @import "themes/soda-dark";
@import "themes/soda-light";
// @import "themes/atom-light";

@font-size: 13px;

//
// Breadcrumbs
// --------------------------------------------------

h1.page-header {
  margin-top: 0;
}
.breadcrumb {
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  margin-bottom: @line-height-computed;
  list-style: none;
  background-color: @breadcrumb-bg;
  border-radius: @border-radius-base;

  > li {
    display: inline-block;

    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: @breadcrumb-color;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
  }
}


// HD
@import "mixins/grid-framework";
@screen-xl: (@screen-md * @line-height-base);
@screen-xl-min: @screen-xl;
@container-xl: (@container-md * @line-height-base);
@component-padding: @line-height-computed;

.make-xl-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  @media (min-width: @screen-lg-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-offset(@columns) {
  @media (min-width: @screen-lg-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-push(@columns) {
  @media (min-width: @screen-lg-min) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-pull(@columns) {
  @media (min-width: @screen-lg-min) {
    right: percentage((@columns / @grid-columns));
  }
}

@media (min-width: @screen-xl-min) {
  .make-grid(xl);
}

.container {
  @media (min-width: @screen-xl-min) {
    width: @container-xl;
  }
}

.kern {
  text-rendering: geometricPrecision;
  font-feature-settings: "kern", 1;
  -webkit-font-feature-settings: "kern", 1;
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-kerning: normal;
}

.mono {
  font-family: @font-family-monospace;
}

.table-responsive {
  max-width: 100%;
  overflow-y: auto;
}

article {
  .clearfix;
  margin-top: @component-padding;
  h2 {}
  h3 {}


  border-bottom: 1px solid @background-color-highlight;
  section:first-child {
    border-top: initial;
      margin-top: @component-padding;
  }
}

body {
  margin: 0;
  // background-color: @base-background-color;
  background-color: @inset-panel-background-color;
}

.gist{
  .highlight {
    background: initial;
  }
}

.grid {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: stretch;
  align-items: center;

  > * {
    flex: auto;
  }

  > *:last-child {
    padding-right: initial;
  }
}
.grid.halves > * {width: 50%;}
.grid.thirds > * {width: 33.333%;}
.grid.quarters > * {width: 25%;}

.nav-sidebar {
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  // color: #fff;
  // background-color: #428bca;
}

.databases {
  color: @text-color;
  margin-top: @component-padding * 2;

  .row {
    margin-top: @component-padding * 2;
  }
  a {
    color: @background-color-selected;
  }
  h2 {
    // .mono;
    color: @background-color-selected;
    border-bottom: 1px solid @background-color-highlight;
    padding-bottom: 15px;
  }

  .graph {}

  .stats {
    margin-top: 50px;
    // border-top: 1px solid @background-color-highlight;
    // border-bottom: 1px solid @background-color-highlight;
    // margin-bottom: @component-padding;
    // > * {
    //   border-left: 1px solid @background-color-highlight;
    //   border-right: 1px solid @background-color-highlight;
    // }
    // >:first-child {
    //   border-left: 0px;
    // }
    // >:last-child {
    //   border-right: 0px;
    // }
    .stat-value, .metric-value {
      font-size: 200%;
      text-align: center;
    }
    .stat-label, .metric-label {
      text-align: center;
      padding-bottom: @component-padding / 2;
    }

    .metric-label {
      .dropdown {
        text-align: left;
      }
    }
  }
}


#status {
  // position: fixed;
  bottom: 0;
  height: 20px;
  width: 100%;
  z-index: 1201;
  color: @text-color;
  .flash {
    font-size: 11px;
    padding-top: 1px;
    margin-left: @component-padding;

    .message {
      display: inline-block;
      margin-right: 10px;
      &.error{
        color: @text-color-error;
      }
      &.success{
        color: @text-color-success;
      }
      &.warning{
        color: @text-color-warning;
      }
    }
  }

  .logo {
    float: right;
    text-align: center;
    line-height: 14px;
    display: inline-block;
    border-radius: 0;
    height: 18px;
    text-decoration: none;
    // border-bottom: 1px solid @base-border-color;
    opacity: 0.4;
    font-size: 11px;
    padding-top: 2px;
    svg {
      height: 16px;
      width: 16px;
      display: inline;
      path {
        stroke: @text-color-subtle;
        fill: @text-color-subtle;
      }
    }
  }
}

.logo {
  .transition(all 250ms ease);
  background-image: none;
  color:  @text-color-subtle;


  svg{
    path {
      stroke-width: 1;
      stroke: @text-color-subtle;
      fill: @text-color-subtle;
    }
  }
}

// ## app container
#mongoscope {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

#sidebar {

}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: @tool-panel-background-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: @tab-background-color;
}


@auth-form-offset: 104px;

.modal-dialog {
  position: fixed;
}
.modal-content{
  -webkit-box-shadow: initial;
  box-shadow: initial;
  padding-right: 4px;
  border: 0;
  background: transparent;
}

#modal{
  overflow: visible;
  display: none;
}

