include mixins/anchor
include mixins/label
include mixins/article
include mixins/section
include mixins/slide
include mixins/logo

doctype html
html(lang='en')
  head
    title onesheet - mongoscope
    link(rel='stylesheet', href='css/onesheet.css')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
  body
    .content
      .jumbotron
        .col-md-6.col-md-push-1.col-xl-4
          img(src='https://cloud.githubusercontent.com/assets/23074/2688434/2d1f3b5a-c29e-11e3-969a-367020b729b6.gif')
        .col-md-5.col-md-push-1.col-xl-4(style="margin-top: 100px;")
          .inline-block.logo: +logo()

          .inline-block
            h1 mongoscope
          .clearfix
            p A microscope to keep next to your MMS telescope
          .clearfix
            a.btn.btn-primary(href="https://github.com/10gen/mongoscope/releases/tag/v0.0.3")
              span(class='icon icon-mark-github')
              | Download v0.0.3

      .onesheet: .row: .col-md-10.col-md-push-1.col-sm-12
        include includes/security
        include includes/architecture
        include includes/distribution
        include includes/project_ideas
        include includes/load_simulation

    #status
      span.logo.inline-block.pull-right
        span.inline-block mongoscope
        +logo()
