doctype html
html(lang='en')
  head
    title styleguide
    link(rel='stylesheet', href='css/styleguide.css')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
  body.workspace.panes.pane.item-views.active
    .styleguide.padded.pane-item
      section.bordered(data-name='styleguide')
        h1 Styleguide

      section(data-name='variables').variables
        h2 variables

        h3 fonts
        ul.list-unstyled.list-inline
          li.font-default @font-family
          li.font-serif @font-family-serif
          li.font-monospace @font-family-monospace

        h3 text colors

        ul.list-unstyled.list-inline
          li.text-color @text-color
          li.text-color-subtle @text-color

        ul.list-unstyled.list-inline
          li.text-color-info @text-color-info
          li.text-color-success @text-color-success
          li.text-color-warning @text-color-warning
          li.text-color-error @text-color-error

        ul.list-unstyled.list-inline
          li.text-color-ignored @text-color-ignored
          li.text-color-added @text-color-added
          li.text-color-renamed @text-color-renamed
          li.text-color-modified @text-color-modified
          li.text-color-removed @text-color-removed

        h3 fills

        .block.background-color-info @background-color-info
        .block.background-color-success @background-color-success
        .block.background-color-warning @background-color-warning
        .block.background-color-error @background-color-error
        .block.background-color-highlight @background-color-highlight
        .block.background-color-selected @background-color-selected
        .block.app-background-color @app-background-color
        .block.ui-site-color-1 @ui-site-color-1
        .block.ui-site-color-2 @ui-site-color-2
        .block.ui-site-color-3 @ui-site-color-3
        .block.ui-site-color-4 @ui-site-color-4
        .block.ui-site-color-5 @ui-site-color-5

        h3 containers
        .container.container-base @base
        .container.container-input @input
        .container.container-overlay @overlay
        .container.container-overlay @overlay
        .container.container-tree-view @tree-view
        .container.container-tool-panel @tool-panel
        .container.container-inset-panel @inset-panel
        .container.container-panel-heading @panel-heading
        .container.container-pane-item @pane-item
        .container.container-tab-bar @tab-bar
        .container.container-tree-view @tree-view

      section.bordered(data-name='text')
        h2 Text

        ul.list-unstyled.list-inline
          li normal
          li.smaller .small
          li.lead .lead
          li.subtle .subtle

        ul.list-unstyled.list-inline
          li: span.label.label-default .label-default
          li: span.label.label-info .label-info
          li: span.label.label-success .label-success
          li: span.label.label-warning .label-warning
          li: span.label.label-danger .label-danger

      section.bordered(data-name='buttons')
        h2 Buttons

        ul.list-unstyled.list-inline
          li: button.btn.btn-primary .btn-primary
          li: button.btn.btn-default .btn-default
          li: button.btn.btn-default.btn-success .btn-success
          li: button.btn.btn-default.btn-warning .btn-warning
          li: button.btn.btn-link .btn-link

        h3: code .active
        ul.list-unstyled.list-inline
          li: button.btn.btn-primary.active .btn-primary.active
          li: button.btn.btn-default.active .btn-default.active
          li: button.btn.btn-success.active .btn-success.active
          li: button.btn.btn-warning.active .btn-warning.active
          li: button.btn.btn-link.active .btn-link.active

        h3: code .disabled
        ul.list-unstyled.list-inline
          li: button.btn.btn-primary.disabled .btn-primary.disabled
          li: button.btn.btn-default.disabled .btn-default.disabled
          li: button.btn.btn-success.disabled .btn-success.disabled
          li: button.btn.btn-warning.disabled .btn-warning.disabled
          li: button.btn.btn-link.disabled .btn-link.disabled

        h3: code .btn-block
        ul.list-unstyled
          li: button.btn.btn-primary.btn-block .btn-primary.btn-block
          li: button.btn.btn-default.btn-block .btn-default.btn-block
          li: button.btn.btn-default.btn-success.btn-block .btn-success.btn-block
          li: button.btn.btn-default.btn-warning.btn-block .btn-warning.btn-block
          li: button.btn.btn-link.btn-block .btn-link.btn-block

        //- h3 Button Groups
        //- p
        //-   .inline-block
        //-     label .btn-group
        //-     .btn-group
        //-       button.btn One
        //-       button.btn Two
        //-       button.btn Three
        //-   .inline-block
        //-     label .btn-group-xs
        //-     .btn-group.btn-group-xs
        //-       button.btn.btn-default One
        //-       button.btn.btn-default Two
        //-       button.btn.btn-default Three
        //-   .inline-block
        //-     label .btn-group-sm
        //-     .btn-group.btn-group-sm
        //-       button.btn.btn-default One
        //-       button.btn.btn-default Two
        //-       button.btn.btn-default Three
        //-   .inline-block
        //-     label .btn-group-lg
        //-     .btn-group.btn-group-lg
        //-       button.btn.btn-default One
        //-       button.btn.btn-default Two
        //-       button.btn.btn-default Three


        //- h3 Button Toolbars
        //- .btn-toolbar
        //-   .btn-group
        //-     button.btn.btn-default One
        //-     button.btn.btn-default Two
        //-     button.btn.btn-default Three
        //-   .btn-group
        //-     button.btn.btn-default Four
        //-     button.btn.btn-default Five
        //-   button.btn.btn-default Six
        //-   button.btn.btn-default Seven
      section.bordered(data-name='panels')
        h2 Panels

        h3: code .panel: .panel-body
        .panel.panel-default: .panel-body: p all your contents

        h3: code .panel-heading: .panel-title Titles
        .panel.panel-default
          .panel-heading: .panel-title Titles
          .panel-body: p all your contents

        h3: code .panel-footer
        .panel.panel-default
          .panel-heading: .panel-title Thing
          .panel-body: p all your contents
          .panel-footer
            small the small prints

        h3: code .panel-inset
        .panel-inset.panel-default
          .panel-body: blockquote: em all your contents

        h3 <code>.panel</code> with context menu
        .panel.panel-default
          .panel-heading
            .pull-right
              .btn-grooup
                .btn.btn-default Help
                button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Settings
                  span.caret
                ul.dropdown-menu
                  li: a(href="#") action 1
                  li: a(href="#") action 2
                  li: a(href="#") action 3
                  li: a(href="#") action 4
                  li: a(href="#") action 5
            .panel-title Instance Details
          .panel-body: p all your contents
          .panel-footer
            small the small prints

        h3 <code>.panel</code> with <code>.list-group</code>
        .panel.panel-default(style='max-width: 600px;')
          .panel-heading: .panel-title Databases
          .list-group
            a.list-group-item(href="#") test
            a.list-group-item(href="#") admin
            a.list-group-item(href="#") config
            a.list-group-item(href="#") local
            a.list-group-item(href="#") mongos
            a.list-group-item(href="#") settings
          .panel-footer
            form
              .input-group
                input.form-control(placeholder='Pick a new database name')
                span.input-group-btn
                  button.btn.btn-primary Create It
                span.input-group-addon(style='padding-left: 20px;')
                  input(type='checkbox', checked='checked')
                  span(style='padding-left: 10px;') auto-index _id

      //- section.bordered(data-name='tool-panel')
      //-   h2 Tool Panel
      //-   p A container attached to some side of the Atom UI. This styleguide is in a tool panel.

      //-   .tool-panel.panel-bottom.padded
      //-     div Some content

      //-   p Supports <code>.panel-bottom</code> and <code>.panel-left</code> classes.

      section.bordered(data-name='list-group')
        h2 List Group

        h3 select lists
        .panel.panel-default
          .list-group
            a.list-group-item(href='#')
              h4.list-group-item-heading .list-group-item-heading
              small.list-group-item-text .list-group-item-text
            a.list-group-item.active(href='#')
              h4.list-group-item-heading .select-list in atom
              small.list-group-item-text .list-group-item-(heading|text) is the same as .primary and .secondary
            a.list-group-item.list-group-item-warning(href='#')
              h4.list-group-item-heading Do not use ul.list-group!
              small.list-group-item-text It's half-assed and doesn't do what you expect.

        h3 filterable and groupable

        blockquote @todo: make actual filter component
        .row: .col-md-4: .panel.panel-default
          .list-group
            .list-group-header
              .icon.fa-search
              input
            .list-group-body
              .list-group-label: h3 shard0000
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:31000
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:31001
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:31002
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:31003
              .list-group-label: h3 shard0001
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:32000
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:32001
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:32002
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:32003
              .list-group-label: h3 shard0002
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:33000
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:33001
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:33002
              a.list-group-item(href="#")
                h4.list-group-item-heading localhost:33003

        h3 icons
        .panel.panel-default
          .list-group
            a.list-group-item(href='#')
              .pull-right: i.fa.fa-circle-o.fa-fw.fa-2x(style='padding-top: 10px;')
              h4.list-group-item-heading
                | Icons
              small.list-group-item-text
                | .pull-right: i.fa.fa-circle-o.fa-fw.fa-2x(style='padding-top: 10px;')
            a.list-group-item(href='#')
              .pull-right: i.fa.fa-angle-double-right.fa-fw.fa-2x(style='padding-top: 10px;')
              h4.list-group-item-heading
                | Disclosure
              small.list-group-item-text
                | .pull-right: i.fa.fa-angle-double-right.fa-fw.fa-2x(style='padding-top: 10px;')
            a.list-group-item(href='#')
              h4.list-group-item-heading
                i.fa.fa-plus.fa-fw
                | As item status
              i.fa.fa-fw.h4
              small.list-group-item-text
                | i.fa.fa-fw.h4 after h4 for spacing
            a.list-group-item(href='#')
              h4.list-group-item-heading
                i.fa.fa-star.fa-fw
                | As item status
              i.fa.fa-fw.h4
              small.list-group-item-text
                | i.fa.fa-fw.h4 after h4 for spacing

        h2 visualization
        blockquote @todo: perhaps once these have settled a bit?
