doctype html
html(lang='en')
  head
    title styleguide
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:400,400italic,600')
    link(rel='stylesheet', href='css/styleguide.css')

    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
  body.workspace.panes.pane.item-views.active
    .styleguide.padded.pane-item
      section.bordered(data-name='styleguide')
        h1 Styleguide

      section(data-name='variables').variables
        h2 variables

        h3 fonts
        ul.list-unstyled.list-inline
          li.font-default @font-family
          li.font-serif @font-family-serif
          li.font-monospace @font-family-monospace

        h3 text colors

        ul.list-unstyled.list-inline
          li.text-color @text-color
          li.text-color-subtle @text-color-subtle

        ul.list-unstyled.list-inline
          li.text-color-info @text-color-info
          li.text-color-success @text-color-success
          li.text-color-warning @text-color-warning
          li.text-color-error @text-color-error

        ul.list-unstyled.list-inline
          li.text-color-ignored @text-color-ignored
          li.text-color-added @text-color-added
          li.text-color-renamed @text-color-renamed
          li.text-color-modified @text-color-modified
          li.text-color-removed @text-color-removed

        h3 fills

        .block.background-color-info @background-color-info
        .block.background-color-success @background-color-success
        .block.background-color-warning @background-color-warning
        .block.background-color-error @background-color-error
        .block.background-color-highlight @background-color-highlight
        .block.background-color-selected @background-color-selected
        .block.app-background-color @app-background-color
        .block.ui-site-color-1 @ui-site-color-1
        .block.ui-site-color-2 @ui-site-color-2
        .block.ui-site-color-3 @ui-site-color-3
        .block.ui-site-color-4 @ui-site-color-4
        .block.ui-site-color-5 @ui-site-color-5

        h3 containers
        .container.container-base @base
        .container.container-input @input
        .container.container-overlay @overlay
        .container.container-overlay @overlay
        .container.container-tree-view @tree-view
        .container.container-tool-panel @tool-panel
        .container.container-inset-panel @inset-panel
        .container.container-panel-heading @panel-heading
        .container.container-pane-item @pane-item
        .container.container-tab-bar @tab-bar
        .container.container-tree-view @tree-view

      section.bordered(data-name='text')
        h2 Text

        ul.list-unstyled.list-inline
          li normal
          li.smaller .small
          li.lead .lead
          li.subtle .subtle

        ul.list-unstyled.list-inline
          li: span.label.label-default .label-default
          li: span.label.label-info .label-info
          li: span.label.label-success .label-success
          li: span.label.label-warning .label-warning
          li: span.label.label-danger .label-danger

      section.bordered(data-name='buttons')
        h2 Buttons

        ul.list-unstyled.list-inline
          li: button.btn.btn-primary .btn-primary
          li: button.btn.btn-default .btn-default
          li: button.btn.btn-default.btn-success .btn-success
          li: button.btn.btn-default.btn-warning .btn-warning
          li: button.btn.btn-default.btn-danger .btn-danger
          li: button.btn.btn-link .btn-link

        h3: code .active
        ul.list-unstyled.list-inline
          li: button.btn.btn-primary.active .btn-primary.active
          li: button.btn.btn-default.active .btn-default.active
          li: button.btn.btn-success.active .btn-success.active
          li: button.btn.btn-warning.active .btn-warning.active
          li: button.btn.btn-danger.active .btn-danger.active
          li: button.btn.btn-link.active .btn-link.active

        h3: code .disabled
        ul.list-unstyled.list-inline
          li: button.btn.btn-primary.disabled .btn-primary.disabled
          li: button.btn.btn-default.disabled .btn-default.disabled
          li: button.btn.btn-success.disabled .btn-success.disabled
          li: button.btn.btn-warning.disabled .btn-warning.disabled
          li: button.btn.btn-danger.disabled .btn-danger.disabled
          li: button.btn.btn-link.disabled .btn-link.disabled

        h3: code .btn-block
        ul.list-unstyled
          li: button.btn.btn-primary.btn-block .btn-primary.btn-block
          li: button.btn.btn-default.btn-block .btn-default.btn-block
          li: button.btn.btn-default.btn-success.btn-block .btn-success.btn-block
          li: button.btn.btn-default.btn-warning.btn-block .btn-warning.btn-block
          li: button.btn.btn-default.btn-danger.btn-block .btn-danger.btn-block
          li: button.btn.btn-link.btn-block .btn-link.btn-block

        //- h3 Button Groups
        //- p
        //-   .inline-block
        //-     label .btn-group
        //-     .btn-group
        //-       button.btn One
        //-       button.btn Two
        //-       button.btn Three
        //-   .inline-block
        //-     label .btn-group-xs
        //-     .btn-group.btn-group-xs
        //-       button.btn.btn-default One
        //-       button.btn.btn-default Two
        //-       button.btn.btn-default Three
        //-   .inline-block
        //-     label .btn-group-sm
        //-     .btn-group.btn-group-sm
        //-       button.btn.btn-default One
        //-       button.btn.btn-default Two
        //-       button.btn.btn-default Three
        //-   .inline-block
        //-     label .btn-group-lg
        //-     .btn-group.btn-group-lg
        //-       button.btn.btn-default One
        //-       button.btn.btn-default Two
        //-       button.btn.btn-default Three


        //- h3 Button Toolbars
        //- .btn-toolbar
        //-   .btn-group
        //-     button.btn.btn-default One
        //-     button.btn.btn-default Two
        //-     button.btn.btn-default Three
        //-   .btn-group
        //-     button.btn.btn-default Four
        //-     button.btn.btn-default Five
        //-   button.btn.btn-default Six
        //-   button.btn.btn-default Seven
      section.bordered(data-name='panels')
        h2 Panels

        h3: code .panel: .panel-body
        .panel.panel-default: .panel-body: p all your contents

        h3: code .panel-heading: .panel-title Titles
        .panel.panel-default
          .panel-heading: .panel-title Titles
          .panel-body: p all your contents

        h3: code .panel-footer
        .panel.panel-default
          .panel-heading: .panel-title Thing
          .panel-body: p all your contents
          .panel-footer
            small the small prints

        h3: code .panel-inset
        .panel-inset.panel-default
          .panel-body: blockquote: em all your contents

        h3 <code>.panel</code> with context menu
        .panel.panel-default
          .panel-heading
            .pull-right
              .btn-grooup
                .btn.btn-default Help
                button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Settings
                  span.caret
                ul.dropdown-menu
                  li: a(href="#") action 1
                  li: a(href="#") action 2
                  li: a(href="#") action 3
                  li: a(href="#") action 4
                  li: a(href="#") action 5
            .panel-title Instance Details
          .panel-body: p all your contents
          .panel-footer
            small the small prints

        h3 <code>.panel</code> with <code>.list-group</code>
        .panel.panel-default(style='max-width: 600px;')
          .panel-heading: .panel-title Databases
          .list-group
            a.list-group-item(href="#") test
            a.list-group-item(href="#") admin
            a.list-group-item(href="#") config
            a.list-group-item(href="#") local
            a.list-group-item(href="#") mongos
            a.list-group-item(href="#") settings
          .panel-footer
            form
              .input-group
                input.form-control(placeholder='Pick a new database name')
                span.input-group-btn
                  button.btn.btn-primary Create It
                span.input-group-addon(style='padding-left: 20px;')
                  input(type='checkbox', checked='checked')
                  span(style='padding-left: 10px;') auto-index _id

      //- section.bordered(data-name='tool-panel')
      //-   h2 Tool Panel
      //-   p A container attached to some side of the Atom UI. This styleguide is in a tool panel.

      //-   .tool-panel.panel-bottom.padded
      //-     div Some content

      //-   p Supports <code>.panel-bottom</code> and <code>.panel-left</code> classes.

      section.bordered(data-name='list-group')
        h2 List Group

        h3 select lists
        .panel.panel-default
          .list-group
            a.list-group-item(href='#')
              .list-group-item-heading .list-group-item-heading
              small.list-group-item-text .list-group-item-text
            a.list-group-item.active(href='#')
              .list-group-item-heading .select-list in atom
              small.list-group-item-text .list-group-item-(heading|text) is the same as .primary and .secondary
            a.list-group-item.list-group-item-warning(href='#')
              .list-group-item-heading Oh hey!
              small.list-group-item-text You should pay attention to this!
            a.list-group-item.list-group-item-danger(href='#')
              .list-group-item-heading Oh no's!
              small.list-group-item-text Now we're in danger land.
            a.list-group-item.disabled(href='#')
              .list-group-item-heading I'm disabled
              small.list-group-item-text Perhaps this thing will be revived?
            a.list-group-item.list-group-item-success(href='#')
              .list-group-item-heading Whew!
              small.list-group-item-text All good now.

        h3 filterable and groupable

        blockquote @todo: make actual filter component
        .row: .col-md-4: .panel.panel-default(style='height: 100%;')
          .list-group(style='height: 100%;')
            .list-group-header
              .icon.fa-search
              input
            .list-group-body
              .list-group-label shard0000
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:31000
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:31001
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:31002
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:31003
              .list-group-label shard0001
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:32000
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:32001
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:32002
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:32003
              .list-group-label shard0002
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:33000
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:33001
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:33002
              a.list-group-item(href="#")
                .pull-left: i.fa.fa-angle-right.fa-fw
                .list-group-item-heading localhost:33003

        h3 icons
        .example
          .rendered
            .panel.panel-default
              .list-group
                a.list-group-item(href='#')
                  .pull-right: i.fa.fa-circle-o.fa-fw.fa-2x
                  .list-group-item-heading Icons
                  .list-group-item-text.small &nbsp;
                a.list-group-item(href='#')
                  .pull-right: i.fa.fa-angle-double-right.fa-fw.fa-2x
                  .list-group-item-heading Disclosure
                  .list-group-item-text.small
                    | good for any in page menu, like a db list
                a.list-group-item(href='#')
                  .list-group-item-heading
                    i.fa.fa-plus.fa-fw
                    | As item status
                  .list-group-item-text.small
                    i.fa.fa-fw.h4
                    | a context message
                a.list-group-item(href='#')
                  .list-group-item-heading
                    i.fa.fa-star.fa-fw
                    | As item status
                  .list-group-item-text.small
                    i.fa.fa-fw.h4
                    | a context message
          .code
            :markdown
              ```jade
              .panel.panel-default
                .list-group
                  a.list-group-item(href='#')
                    .pull-right: i.fa.fa-circle-o.fa-fw.fa-2x
                    .list-group-item-heading Icons
                    .list-group-item-text.small &nbsp;
                  a.list-group-item(href='#')
                    .pull-right: i.fa.fa-angle-double-right.fa-fw.fa-2x
                    .list-group-item-heading Disclosure
                    .list-group-item-text.small
                      | good for any in page menu, like a db list
                  a.list-group-item(href='#')
                    .list-group-item-heading
                      i.fa.fa-plus.fa-fw
                      | As item status
                    .list-group-item-text.small
                      i.fa.fa-fw.h4
                      | a context message
                  a.list-group-item(href='#')
                    .list-group-item-heading
                      i.fa.fa-star.fa-fw
                      | As item status
                    .list-group-item-text.small
                      i.fa.fa-fw.h4
                      | a context message
              ```

        h2 visualization

        h3 donut

        .example
          .rendered
            #donut-example-1.donut

          .code
            :markdown
              ```javascript
              require('./viz/donut')('#donut-example-1',
                [{
                  name: 'Documents',
                  size: 16384,
                  count: 100,
                  className: 'documents'
                },
                {
                  name: 'Indexes',
                  size: 8192,
                  count: 1,
                  className: 'indexes'
                }], {title: ''});
              ```

            :markdown
              ```jade
              .donut
              ```

        h3 sparkline
        .example
          .rendered
            p
              | update as
              span#sparkline-streaming.sparkline
              | a stream
            p
              | or just
              span#sparkline-static.sparkline
              | a static set

          .code
            :markdown
              ```javascript
              var d3 = require('d3'),
                rand = d3.random.normal(),
                sparkline = require('./viz/sparkline'),
                streaming = sparkline([], {
                  el: '#sparkline-streaming', window: 20, height: 18
                });

              setInterval(function(){
                streaming.write({date: Date.now(), value: rand()});
              }, 500);

              var data = d3.range(20).map(function(i){
                return {date: Date.now() - (1000* i), value: rand()};
              });
              sparkline(data, {el: '#sparkline-static', height: 18});
              ```

            :markdown
              ```jade
                p
                  | update as
                  span#sparkline-streaming.sparkline
                  | a stream
                p
                  | or just
                  span#sparkline-static.sparkline
                  | a static set
              ```

        h2 keyboard shortcuts
        h3
          kbd ⌘⇧P


          //- &#8984; . . . . . ⌘ . . . Command, Cmd, Clover, (formerly) Apple
          //- &#8963; . . . . . ⌃ . . . Control, Ctl, Ctrl
          //- &#8997; . . . . . ⌥ . . . Option, Opt, (Windows) Alt
          //- &#8679; . . . . . ⇧ . . . Shift
          //- &#9166; . . . . . ⏎ . . . Return, Carriage Return
          //- &#9003; . . . . . ⌫ . . . Delete, Backspace
          //- &#8594; &rarr; .. → . . . Right arrow
          //- &#8592; &larr; .. ← . . . Left arrow
          //- &#8593; &uarr; .. ↑ . . . Up arrow
          //- &#8595; &darr; .. ↓ . . . Down arrow
          //- &#8677; . . . . . ⇥ . . . Tab, Tab Right, Horizontal Tab
          //- &#9251; . . . . . ␣ . .. . Space, Blank

        h2 navigation

        h3 breadcrumbs
        ol.breadcrumb
          li: a(href='#') my cluster
          li: a(href='#') mongos1
          li: a(href='#') config
          li locks

        h3 sidebar
        ul.nav.nav-pills.nav-stacked.nav-sidebar
          li
            a(href="#connect")
              i.fa.fa-plus.fa-fw
              | &nbsp;Connect Deployment&hellip;
          li.divider
          li.active
            a(href="#") I am active
          li
            a(href="#") I am not
          li.disabled
            a(href="#") I am disabled
          li
            a(href="#") I am last

    script(src='styleguide.js')
