@import "./index";

section {
  .panel;
  .padded;
  .clearfix;
  border-bottom: 1px solid @background-color-highlight;

  h2 {}
  h3 {}
  dl{
    dt {
      .make-md-column(4);
    }
    dd {
      .make-md-column(8);
    }
  }
  section:first-child {
    border-top: initial;
  }
}

// .dl-left {
//   .clearfix;
//   border-top: 1px solid @background-color-highlight;
//   padding-top: @component-padding;
   // dt {
   //   float: left;
   //   text-align: left;
   //   width: 100px;
   // }
   // dd {
   //   text-align: left;
   //   margin-left: 100px;
   // }
// }
