.panel.panel-default
  .panel-heading
    .panel-title #{sample._id}
  .panel-body
    table.table
      for value, key in sample
        tr
          td.key #{key}
          td.value
            if typeof value === 'object'
              pre: code
                | #{JSON.stringify(value, null, 2).replace(/","/g, '\n').replace(/"/g, '').replace(/\{|\}/g, '')}
            else
              | #{value}
