h4 service_requests.#{sample._id}
- delete sample._id
//- @todo: arrow keys/swipe to navigate
dl.dl-horizontal
 - for value, key in sample
  dt(style="margin-right: 20px;") #{key}
  dd(style="display: block; clear: right;") #{value}
