mixin render_line(line)
  div(class!=attributes.class)
    .name [#{line.name}]
    .second #{moment(line.date).format('h:mm:ss.SSS')}
    .message #{line.message}

if !update
.log


 - prevS = ''
 - prevM = ''
 - prevN = ''

 - for line in lines
  - classes = ['line', line.name]
  - line.date = d = new Date(line.date)
  - currS = d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds()
  - currM = d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds() + '.' + d.getMilliseconds()
  - currN = line.name

  - if(currN != prevN){
  -   prevN = currN;
  -   classes.push('group-by-name');
  - }
  - else if(currS != prevS){
  -   prevS = currS;
  -   classes.push('group-by-second');
  - }
  - else if(currM != prevM){
  -   prevM = currM;
  -   classes.push('group-by-ms');
  - }
  +render_line(line)(class=classes.join(' '))


