ul.nav.nav-pills.nav-stacked.nav-sidebar
  li
    a(href="#connect")
      i.fa.fa-plus.fa-fw
      | &nbsp;Connect&hellip;
  li.divider
  each deployment in all
    - kls = context.deployment_id===deployment.id ? 'active' : ''
    li(class='#{kls}')
      a(href="#connect/#{deployment.id}") #{deployment.name || deployment.id}





