
include includes/host-picker

.col-md-2.col-sm-3
  ul.nav.nav-pills.nav-stacked
   - for section in sections
    li
      a(href='##{section.name}')
        i(class='fa fa-#{section.icon}')
        | #{section.name}
