ol.breadcrumb
  unless context.deployment.type === 'standalone'
    li: a(href='#home') #{context.deployment.name}
  li: a(href='#home') #{context.instance.name}
  li Top

.row
  .col-md-12
    p sampling...
    .matrix
