/**
 * Overrides of MMS styles
 */

#wrapper{
  padding-left: 100px;
}

/**
 * Log
 */
.log > span {
  display: block;
  max-height: 18px;
  overflow: hidden;
}

.log .name {
  font-size: 80%;
  width: 80px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 10px;
}

.log .initandlisten > .name{
  color: #868686;
}

.log .websvr > .name {
  color: #2F9C33;
}

.log .clientcursormon > .name {
  color: #812A92;
}

.filter-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

/**
 * Info
 */
.dl-horizontal dt {
  width: 90px !important;
}

.dl-horizontal dd {
  margin-left: 110px !important;
}
