.panel.inset-panel.bordered
  .col-md-8
    .graph
  .col-md-4
    .block
      a(href='#database/#{database.name}')
        h2 #{database.name}
        .stats
          .inline-block-tight 8 collections
          .inline-block-tight 27 indexes
          .inline-block-tight 120 gb
