/* Fonts! */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(/static/font/PT_Sans-Web-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(/static/font/PT_Sans-Web-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(/static/font/PT_Sans-Web-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(/static/font/PT_Sans-Web-BoldItalic.ttf) format('truetype');
}
html,
body {
  height: 100%;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #271b15;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
* {
  outline: none;
  -webkit-font-smoothing: antialiased;
}
a,
a:hover,
a:focus {
  color: #006cbc;
}
.muted {
  color: #9b9694;
}
.jshide {
  display: none;
}
input,
button,
select,
textarea {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-control {
  color: #271b15;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
  border-color: #6ba442;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(108, 164, 57, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(108, 164, 57, 0.6);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: rgba(0, 0, 0, 0.15);
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.text-warning {
  color: #ffb618;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #e49c00;
}
.text-error {
  color: #ed271c;
}
a.text-error:hover,
a.text-error:focus {
  color: #c619010;
}
.text-success {
  color: #6ca439;
}
a.text-success:hover,
a.text-success:focus {
  color: #537e2c;
}
/* //////////////// */
.btn {
  font-weight: bold;
  border-radius: 2px;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.btn:hover,
.btn:focus {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
.btn:active,
.btn.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default {
  background: rgba(255, 255, 255, 0.5);
  border-color: #dee0e3;
  color: #3b291f;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  box-shadow: none;
  background: #f5f6f7;
  border-color: #bfbfbe;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
  background: #ebebed;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  color: #9b9694;
  background-color: transparent;
  border-color: #dee0e3;
}
.btn-primary {
  color: #fff;
  background-color: #6ba442;
  border-color: #5f923b;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #5f923b;
  border-color: #538033;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #77b64a;
  border-color: #85bd5c;
}
.btn-success {
  color: #fff;
  background-color: #6ba442;
  border-color: #5f923b;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #5f923b;
  border-color: #538033;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #77b64a;
  border-color: #85bd5c;
}
.btn-warning {
  color: #fff;
  background-color: #ffb618;
  border-color: #fead00;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #fead00;
  border-color: #e49c00;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #ffbe32;
  border-color: #ffc64b;
}
.btn-danger {
  color: #fff;
  background-color: #bd180f;
  border-color: #97130c;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #ef3d34;
  border-color: #de1c12;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #f4817b;
  border-color: #f36a63;
}
.btn-info {
  color: #6ba442;
  background-color: transparent;
  border-color: #89b668;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #507b32;
  background-color: #ecf4e7;
  border-color: #5f923b;
  box-shadow: none;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: transparent;
  border-color: #85bd5c;
}
.btn-link {
  font-weight: normal;
  color: #006cbc;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link:hover,
.btn-link:focus {
  color: #006cbc;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #9b9694;
}
/* //////////////// */
.form-inverse .btn-default {
  background: rgba(255, 255, 255, 0.2);
  border-color: #807f7f;
  color: #ebebed;
}
.form-inverse .btn-default:hover,
.form-inverse .btn-default:focus,
.form-inverse .btn-default:active,
.form-inverse .btn-default.active,
.form-inverse .open .dropdown-toggle.btn-default {
  background: rgba(255, 255, 255, 0.3);
  border-color: #a09f9e;
}
.form-inverse .btn-default:active,
.form-inverse .btn-default.active,
.form-inverse .open .dropdown-toggle.btn-default {
  background: rgba(255, 255, 255, 0.3);
}
.form-inverse .btn-default.disabled,
.form-inverse .btn-default[disabled],
.form-inverse fieldset[disabled] .btn-default,
.form-inverse .btn-default.disabled:hover,
.form-inverse .btn-default[disabled]:hover,
.form-inverse fieldset[disabled] .btn-default:hover,
.form-inverse .btn-default.disabled:focus,
.form-inverse .btn-default[disabled]:focus,
.form-inverse fieldset[disabled] .btn-default:focus,
.form-inverse .btn-default.disabled:active,
.form-inverse .btn-default[disabled]:active,
.form-inverse fieldset[disabled] .btn-default:active,
.form-inverse .btn-default.disabled.active,
.form-inverse .btn-default[disabled].active,
.form-inverse fieldset[disabled] .btn-default.active {
  background: rgba(255, 255, 255, 0.2);
  border-color: #807f7f;
  color: #ebebed;
}
.btn-icon-only {
  padding: 4px 6px;
  line-height: 10px;
}
.btn-small {
  font-size: 13px;
}
.navbar-inverse {
  background: #3b291f;
  border: none;
}
.navbar-inverse .navbar-brand {
  color: #95867f;
}
.navbar-inverse .nav > li > a {
  color: #fff;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #332118;
}
.navbar-inverse .nav > li > a.muted {
  color: #95867f;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #271b15;
}
.navbar-inverse .nav-header {
  color: #9b9694;
  font-size: 10px;
  text-transform: uppercase;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #271b15;
  background-color: #ebebed;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #271b15;
  background-color: #ebebed;
}
.progress {
  background: #ebebed;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.progress .bar {
  height: 100%;
  background: #535d77;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  border-radius: 2px 0 0 2px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  border-radius: 2px 0 0 2px;
}
.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  border-radius: 0 2px 2px 0;
}
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  border-radius: 0 2px 2px 0;
}
.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  border-radius: 0 2px 2px 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  border-radius: 2px 0 0 2px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  border-radius: 0 2px 2px 0;
}
.input-append .add-on.add-on-plain,
.input-prepend .add-on.add-on-plain {
  border: none;
  background: transparent;
  color: #9b9694;
}
.input-append .add-on.add-on-plain.dark,
.input-prepend .add-on.add-on-plain.dark {
  color: #271b15;
}
.btn-group > .btn:first-child {
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
}
.btn-group > .btn.large:first-child {
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f6f7;
}
.table th,
.table td {
  border-top: 1px solid #f5f6f7;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  border-top: 1px solid #f5f6f7;
}
.table thead > tr > th {
  border-bottom: none;
}
.nav-tabs {
  border-bottom: 2px solid #ebebed;
}
.nav-tabs > li {
  margin-bottom: 0;
}
.nav-tabs > li > a {
  border: none;
  border-radius: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #271b15;
  cursor: default;
  background-color: #ebebed;
  border: none;
}
.nav > li > a {
  color: #6f6763;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #f5f6f7;
  color: #6f6763;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #fff;
  background: none;
}
.nav .dropdown {
  border-radius: 2px;
}
.navbar-inverse .nav .dropdown:hover,
.navbar-inverse .nav .dropdown:focus {
  background: #2a1d16;
}
.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-alert.alert {
  padding: 8px 15px;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-alert.alert i[class^="icon-"] {
  margin-right: 0.5ex;
}
.dropdown-menu > li > a {
  padding: 3px 10px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #271b15;
  text-decoration: none;
  background: #e6e6e6;
}
.well {
  background-color: #f5f6f7;
  border: 1px solid #e7e9ec;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.well-large {
  border-radius: 0;
}
.well-small {
  border-radius: 0;
}
/* Custom .form-inverse class - not native to bootstrap */
.form-inverse {
  background: #494747;
  color: #fff;
}
.form-inverse .form-control {
  color: #fff;
  border: 1px solid #313030;
  background-color: #615f5f;
}
.label {
  font-size: 10px;
  padding: 3px 4px 2px;
  text-transform: uppercase;
  border-radius: 0;
}
.label-success,
.badge-success {
  background-color: #6ba442;
}
.label-success[href],
.badge-success[href] {
  background-color: #6ba442;
}
.label-warning,
.badge-warning {
  background-color: #ffb618;
}
.label-warning[href],
.badge-warning[href] {
  background-color: #ffb618;
}
.label-info,
.badge-info {
  background-color: #6ba442;
}
.host-label-primary {
  background: #6ba442;
}
.host-label-secondary,
.host-label-arbiter {
  background: #caddbc;
}
.host-label-recovering,
.host-label-startup,
.host-label-rollback {
  background: #ffb618;
}
.host-label-down,
.host-label-fatal {
  background: #ed271c;
}
.host-label-standalone,
.host-label-master {
  background: #494747;
}
.host-label-mongos,
.host-label-conf {
  background: #caddbc;
}
.host-label-unknown,
.host-label-no-data,
.host-label-shunned,
.host-label-removed,
.host-label-slave {
  background: #c8c7c7;
}
.label-no-bg {
  padding: 0;
  font-size: 10px;
  text-align: left;
  color: #4a3e38;
  background-color: transparent;
}
.label-no-bg.label-important {
  color: #b94a48;
}
.label-no-bg.label-important[href] {
  color: #953b39;
}
.label-no-bg.label-warning {
  color: #f89406;
}
.label-no-bg.label-warning[href] {
  color: #c67605;
}
.label-no-bg.label-success {
  color: #468847;
}
.label-no-bg.label-success[href] {
  color: #356635;
}
.label-no-bg.label-info {
  color: #3a87ad;
}
.label-no-bg.label-info[href] {
  color: #2d6987;
}
.label-no-bg.light {
  color: #b6b3b2;
}
.label-no-bg.light[href] {
  color: #b6b3b2;
}
.modal-content {
  border-radius: 0;
}
.modal-content > form {
  margin-bottom: 0;
}
.modal-header {
  background: #ebebed;
  border-bottom: none;
}
.modal-header h3 {
  margin: 0;
  font-weight: normal;
}
.modal-header .close {
  font-size: 24px;
  color: #271b15;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.modal-header .close:hover,
.modal-header .close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.modal-footer {
  background-color: #ebebed;
  border-top: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.popover {
  border: none;
  padding: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.popover-title {
  font-weight: bold;
  background-color: #eee;
  border-bottom: none;
  border-radius: 0;
}
.popover.bottom .arrow {
  border-bottom-color: #999;
}
.popover.bottom .arrow:after {
  border-bottom-color: #eee;
}
.tooltip {
  font-size: 12px;
}
.tooltip .small-caps {
  text-transform: uppercase;
  font-size: 10px;
}
.tooltip .value {
  display: block;
  margin-bottom: 5px;
}
.tooltip .value:last-child {
  margin-bottom: 0;
}
.tooltip-inner {
  text-align: left;
  border-radius: 0;
  white-space: pre-wrap;
  max-width: 400px;
}
/* make the autocomplete rise above the navbar and any modal */
.ui-autocomplete {
  z-index: 1060;
}
/* make the datepicker rise above other panels */
.ui-datepicker {
  z-index: 1060 !important;
}
.has-switch {
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  line-height: 1.72222;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 80px;
  -webkit-mask: url('../images/switch/mask.png') 0 0 no-repeat;
  mask: url('../images/switch/mask.png') 0 0 no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.has-switch.deactivate {
  opacity: .5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.has-switch.deactivate label,
.has-switch.deactivate span {
  cursor: default !important;
}
.has-switch > div {
  width: 130px;
  position: relative;
  top: 0;
}
.has-switch > div.switch-animate {
  -webkit-transition: left 200ms ease-out;
  transition: left 200ms ease-out;
}
.has-switch > div.switch-off {
  left: -50px;
}
.has-switch > div.switch-off label {
  background-color: #FFFFFF;
  border-color: #bdc3c7;
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
}
.has-switch > div.switch-on {
  left: 0;
}
.has-switch > div.switch-on label {
  background-color: #FFFFFF;
}
.has-switch input[type=checkbox] {
  display: none;
}
.has-switch span {
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  float: left;
  height: 29px;
  line-height: 19px;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 5px;
  position: relative;
  text-align: center;
  width: 50%;
  z-index: 1;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}
.has-switch span.switch-left {
  border-radius: 30px 0 0 30px;
  background-color: #6CA439;
  color: #FFFFFF;
  border-left: 1px solid transparent;
}
.has-switch span.switch-right {
  border-radius: 0 30px 30px 0;
  background-color: #bdc3c7;
  color: white;
  text-indent: 7px;
}
.has-switch span.switch-right [class*="fui-"] {
  text-indent: 0;
}
.has-switch label {
  border: 4px solid #6CA439;
  border-radius: 50%;
  float: left;
  height: 29px;
  margin: 0 -15px;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 29px;
  z-index: 100;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}
.switch-square {
  border-radius: 6px;
  -webkit-mask: url('../images/switch/mask.png') 0 0 no-repeat;
  mask: url('../images/switch/mask.png') 0 0 no-repeat;
}
.switch-square > div.switch-off label {
  border-color: #a2c682;
  border-radius: 6px 0 0 6px;
}
.switch-square span.switch-left {
  border-radius: 6px 0 0 6px;
}
.switch-square span.switch-left [class*="fui-"] {
  text-indent: -10px;
}
.switch-square span.switch-right {
  border-radius: 0 6px 6px 0;
}
.switch-square span.switch-right [class*="fui-"] {
  text-indent: 5px;
}
.switch-square label {
  border-radius: 0 6px 6px 0;
  border-color: #FFFFFF;
}
.with-new-layer {
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
/* ***************************** */
/* ********* Nav Styles ******** */
/* ***************************** */
body {
  padding-top: 40px;
  overflow-x: hidden;
}
.mms-navbar {
  min-height: 40px;
}
.mms-navbar .nav > li > a {
  font-size: 13px;
  padding: 12px 15px 13px;
}
.mms-navbar .nav.secondary > li > a {
  padding: 5px 10px 5px;
  color: #fff;
}
.mms-navbar .nav.secondary > li > a.muted {
  color: #95867f;
}
.mms-navbar .nav.secondary > li > a:focus,
.mms-navbar .nav.secondary > li > a:hover {
  color: #fff;
  background: transparent;
}
.navbar-nav.navbar-right.secondary {
  margin: 6px 15px 0 0;
}
.navbar-brand {
  background: url("/static/images/logo-mms-white-landing.png") center center no-repeat;
  background-size: 56px 20px;
  margin: 5px 0 0 10px;
  width: 56px;
  height: 20px;
  text-indent: -9999px;
}
.navbar .brand-admin {
  color: #fff;
  margin: 11px 0 0 15px;
  float: left;
}
#wrapper {
  height: 100%;
  padding-left: 260px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
#wrapper.nav-collapsed {
  padding-left: 40px;
}
#wrapper.nav-collapsed #page #fixedHostHeader {
  left: 40px;
}
#wrapper.nav-collapsed .side-nav {
  width: 40px;
}
#wrapper.nav-collapsed .side-nav li {
  margin-bottom: 5px;
}
#wrapper.nav-collapsed .side-nav li a,
#wrapper.nav-collapsed .side-nav li button {
  width: 40px;
  height: 35px;
  padding: 5px;
}
#wrapper.nav-collapsed .side-nav li a .text,
#wrapper.nav-collapsed .side-nav li button .text {
  opacity: 0;
  -webkit-transform: scale(0) translate(-25%, -10px);
  -moz-transform: scale(0) translate(-25%, -10px);
  -ms-transform: scale(0) translate(-25%, -10px);
  transform: scale(0) translate(-25%, -10px);
}
#wrapper.nav-collapsed .side-nav li #featureRequestToggle {
  height: 37px;
}
#wrapper.nav-collapsed .side-nav li.active a {
  padding-left: 2px;
  border-left-width: 3px;
}
#wrapper.nav-collapsed .side-nav li:last-child {
  margin-bottom: 0;
}
#wrapper.no-sub-nav {
  padding-left: 80px;
}
#wrapper.no-sub-nav #page {
  background: #f5f6f7;
}
#wrapper.no-sub-nav .container {
  padding: 15px;
  background: #fff;
  border: 1px solid #ebebed;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
}
#wrapper.no-sub-nav .container.help_and_support {
  padding: 0;
}
#wrapper.no-sub-nav .side-sub-nav {
  display: none !important;
}

#page-wrapper {
  padding: 15px 15px 50px 15px;
}

.side-nav {
  top: 40px;
  left: 0;
  width: 80px;
  height: 100%;
  position: fixed;
  background-color: #4e3629;
  z-index: 2;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
.side-nav li {
  float: none;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
.side-nav li:first-child {
  margin-top: 25px;
}
.side-nav li.nav-footer {
  position: absolute;
  bottom: 40px;
  left: 0;
}
.side-nav li.nav-footer #featureRequestToggle {
  border: none;
  border-radius: 0;
  border-top: 2px solid #fff;
  width: 80px;
  height: 65px;
  font-size: 12px;
  line-height: 11px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
.side-nav li.nav-footer #featureRequestToggle .text {
  display: inline-block;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

.navbar .nav.side-nav > li > a {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  width: 80px;
  height: 62px;
  padding: 11px 5px;
  color: #95867f;
  text-shadow: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.navbar .nav.side-nav > li > a .text {
  display: inline-block;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.navbar .nav.side-nav > li > a:focus,
.navbar .nav.side-nav > li > a:hover {
  color: #95867f;
  text-decoration: none;
  background-color: #473125;
}
.navbar .nav.side-nav > li > a:focus i[class^="custom-icon-"],
.navbar .nav.side-nav > li > a:hover i[class^="custom-icon-"] {
  opacity: 0.6;
}
.navbar .nav.side-nav > .active > a,
.navbar .nav.side-nav > .active > a:hover,
.navbar .nav.side-nav > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #3b291f;
  border-left: 5px solid #6ba442;
  padding-left: 0;
}

/* ************************************************************* */
.new-feature {
  position: absolute;
  top: -2px;
  margin-left: 50px;
  background: #6ba442;
  font-size: 9px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 1px 5px 0;
  border-radius: 15px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.15);
}
#loading {
  display: none;
  position: absolute;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  top: 15px;
  z-index: 100000;
}
#splash #loading {
  top: 32px;
}
#page {
  min-height: 100%;
  margin-bottom: -65px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
.group-select-holder {
  margin: 10px 15px 0 15px;
}
.group-select-holder .group-select-label {
  display: inline-block;
  color: #95867f;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.group-select-holder #changeCustomerLabel {
  cursor: default;
}
.group-select-holder #changeCustomer {
  color: #fff;
  position: relative;
  z-index: 100;
  white-space: nowrap;
  padding: 5px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.group-select-holder #changeCustomer:hover {
  background: #2a1d16;
  text-decoration: none;
}
.group-select-holder #changeCustomerFew {
  height: 22px;
  width: 150px;
  margin: 0 0 1px 5px;
  padding: 0 2px 0 2px;
}
.group-select-holder #currentGroup {
  color: #fff;
  padding: 5px 10px;
}
.group-select-holder #customerNameInput {
  display: none;
  position: relative;
  width: 130px;
  margin: -4px 0 0 0;
  padding: 2px 5px;
  text-align: left;
  box-shadow: inset 0 1px 0 1px rgba(0, 0, 0, 0.08);
  border: 1px solid #001b4b;
}
.navbar .navSelect {
  position: relative;
  width: 100px;
  z-index: 100;
  font-size: 12px;
  margin: 12px 0 0 0;
}

.btn.tabButton {
  background: transparent;
  padding: 3px;
  line-height: 10px;
  margin-right: -4px;
  margin-bottom: -1px;
  border: none;
}
.btn.tabButton:hover {
  background: #dedee1;
}
.dropdown i.icon-gear {
  margin-right: 0;
  margin-left: 1px;
  color: #6f6763;
}
.dropdown i.icon-caret-down {
  font-size: 12px;
  color: #9b9694;
}
.form-inverse .dropdown i.icon-gear {
  color: #ebebed;
}
.form-inverse .dropdown i.icon-caret-down {
  color: #ebebed;
}
.form-inverse a {
  color: #2898dd;
}
.form-inverse .panel {
  border: none;
}
.form-inverse label {
  color: #bfbfbe;
  font-size: 12px;
  margin-bottom: 2px;
}
#headerMsg {
  display: none;
  position: absolute;
  margin: 0 0 0 -150px;
  padding: 8px;
  top: 0px;
  left: 50%;
  z-index: 5001;
}
#headerMsg {
  display: block;
}
.nav-tabs {
  margin: 0 0 -2px;
}
.nav-tabs li a {
  display: inline-block;
}
.admin .nav-tabs {
  margin-bottom: 10px;
}
.navbar-dropmenu {
  display: inline-block;
  background-color: #EBEBED;
  margin-left: -6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 6px;
  margin-right: 2px;
}
.settings-list li {
  border-bottom: 1px solid #f5f6f7;
  padding: 10px;
  line-height: 30px;
}
.settings-list li p.plain {
  line-height: 1.2em;
}
.settings-list li select.form-control {
  width: 30%;
  max-width: 300px;
}
.settings-list li .settings-list li {
  border: none;
  padding: 2px 10px;
}
.settings-list li p.help {
  clear: both;
  max-width: 900px;
  line-height: 1.1em;
  color: #8E8E8E;
}
.settings-list li.section-header {
  font-weight: bold;
  padding: 20px 10px 0;
  line-height: 20px;
  border-bottom: none;
}
.settings-list li.section-header:hover {
  background: transparent;
}
.settings-list li:hover {
  background: #f5f6f7;
}
.settings-list li:first-child {
  border-top: 1px solid #f5f6f7;
}
.settings-list li select {
  margin-bottom: 0;
}
.settings-list .authCode .orLabel {
  display: block;
  margin: 60px 0 0 0;
  font-weight: bold;
  font-size: 24px;
  color: #9b9694;
}
.settings-list .authCode .googleAuthenticatorAccount {
  margin-top: 40px;
}
.settings-list .authCode #googleAuthenticatorAuthForm {
  margin-top: 20px;
}
.settings-list ol.plain li {
  border: none;
  line-height: 1em;
}
.settings-toggle {
  width: 80px;
}
.settings-indicator {
  display: block;
  float: right;
  width: 30px;
  text-align: center;
}
table.dashboardServer label.checkbox {
  display: block;
}
/* ***************************** */
/* ******* Header Styles ******* */
/* ***************************** */
header {
  margin: 25px 0 20px;
}
header h1 {
  display: inline-block;
  margin: 0;
  font-weight: normal;
  font-size: 24px;
}
header .btn-sm.pull-right {
  margin-top: -3px;
  font-size: 13px;
  line-height: 18px;
}
header .host-attribute.host-name {
  margin: 0 8px 0 0;
}
header .host-info {
  margin: 8px 0 0 0;
}
header .host-info .label-no-bg {
  margin-left: 5px;
  margin-right: -5px;
}
header .host-attribute {
  display: inline-block;
  margin: 0 8px 0 8px;
}
header .align-with-title {
  padding: 2px 8px 0;
  margin: -12px 0 0 10px;
  font-size: 13px;
}
header .align-with-title.btn-icon-only {
  font-size: 14px;
  padding: 4px 6px;
}
header #dashboardSelect {
  margin-left: 10px;
}
header .for {
  display: inline-block;
  margin: 0 5px;
  color: #9b9694;
  font-style: italic;
}
header #eventsFiltersToggle {
  margin: -10px 5px 0;
}
header #eventsFilters {
  display: none;
  margin: 0;
  padding: 6px 0 10px;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}
header #eventsFilters #clearFilters {
  margin: 20px 0 0 0;
}
header #eventsFilters .control-group {
  float: left;
  margin: 0 10px 0 0;
}
header #eventsFilters .control-group select {
  margin: 0;
  font-size: 12px;
  width: auto;
  height: 23px;
  padding: 2px;
}
header #eventsFilters .control-group .label {
  display: block;
  margin-bottom: 1px;
  margin-top: 4px;
}
header #fixedHostHeader {
  position: fixed;
  display: none;
  z-index: 100;
  top: 40px;
  left: 260px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  transition: left 300ms ease;
  -webkit-transition: left 300ms ease;
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
#wrapper.nav-collapsed header #fixedHostHeader {
  left: 80px;
}
.admin header {
  margin: 15px 0;
}
.admin header h1 {
  font-size: 28px;
}
.alert.alert-header {
  padding: 5px 10px;
  margin-bottom: 0;
  margin-top: -3px;
  color: #271b15;
  background-color: #f5f6f7;
  border: none;
}

/* ***************************** */
/* ******* Footer Styles ******* */
/* ***************************** */
.push-footer {
  height: 65px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
footer {
  padding: 10px 0;
  margin: 0 15px;
  height: 65px;
  border-top: 1px solid #ebebed;
}
footer p {
  font-size: 13px;
  margin-bottom: 5px;
  color: #9b9694;
  -webkit-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}
footer:hover p {
  color: #271b15;
}
/* ***************************** */
/* ******* Dialog Styles ******* */
/* ***************************** */
.extra-alert-options {
  display: none;
  margin-top: 30px;
}
#chartDetailDialog > .modal-dialog {
  width: 90%;
}
#chartDetailDialog .container {
  height: 360px;
}
#chartDetail {
  z-index: 10002;
  width: 100%;
}
#chartDetailLabel {
  height: 20px;
  background-color: #FFF;
  font-size: 9px;
  text-align: center;
}
#addAlertModal .modal-body {
  max-height: 450px;
}
.roleDescriptions {
  border: 1px solid #ddd;
  padding: 15px;
}
/* ***************************** */
/* ****** Datatable Styles ***** */
/* ***************************** */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
}

.table {
  font-size: 12px;
}
.table {
  font-size: 12px;
}
.table thead tr {
  background: #f5f6f7;
}
.table thead tr th {
  padding: 0 8px;
  color: #9b9694;
  font-size: 10px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-right: 2px solid #fff;
}
.table thead tr th:last-child {
  border: none;
}
.table tbody tr.host-down > td {
  background: #ffeaea;
}
.table tbody tr.host-down:hover > td {
  background: #ffd0d0;
}

.table .host-link {
  font-size: 14px;
  font-weight: bold;
}

.row.table-top {
  height: 30px;
  margin-bottom: 2px;
  padding: 0 15px;
}
.row.table-top .col-md-12 {
  background: #ebebed;
  min-height: 30px;
  padding: 0;
}
.dataTables_filter {
  float: right;
}
.dataTables_filter label {
  background: #dee0e3;
  border-left: 2px solid #fff;
  color: #fff;
  margin-bottom: 0;
}
.dataTables_filter label i {
  display: inline-block;
  padding: 7px 0 0 7px;
}
.dataTables_filter input[type=text] {
  width: 100px;
  height: 30px;
  padding: 4px 6px;
  background: #dee0e3;
  border: none;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dataTables_filter input[type=text]:focus {
  width: 220px;
}
.dataTables_info {
  float: right;
  margin-top: 2px;
}
.dataTables_paginate {
  float: right;
  margin-left: 10px;
}
.tableNoWrap {
  white-space: nowrap;
  text-align: left;
}
.hostStatusColumn {
  width: 115px;
  overflow: hidden;
}
.hostNameColumn {
  width: 200px;
  overflow: hidden;
  vertical-align: bottom;
}
.hostTypeColumn {
  width: 70px;
  overflow: hidden;
}
.clusterNameColumn {
  width: 50px;
  overflow: hidden;
}
.replSetNameColumn {
  width: 80px;
  overflow: hidden;
}
.dateColumn {
  width: 100px;
  overflow: hidden;
}
.versionColumn {
  width: 60px;
  overflow: hidden;
}
.table tbody > tr > td.actionsColumn {
  width: 40px;
  padding-right: 5px;
  padding-left: 3px;
}
.table .host-warning-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 23px;
  padding-top: 2px;
  font-size: 10px;
  text-align: center;
  display: block;
  color: #fff;
  text-indent: -9999px;
  background: #ffb618;
  border-radius: 2px 0 0 2px;
}
.table .host-warning-label {
  display: inline-block;
  margin: 4px 0 0 5px;
  color: #ffb618;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.tableHostName {
  display: inline-block;
  float: left;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  -webkit-transition: max-width 300ms ease;
  transition: max-width 300ms ease;
}

.tableHostPort {
  display: inline-block;
  float: left;
  vertical-align: bottom;
  font-size: 14px;
}
.tableClusterName {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}
.tableReplName {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}
#showActualHostnamesButton {
  cursor: pointer;
}
#additionalHostInfoOptions {
  position: relative;
  margin-top: -21px;
  width: 50%;
}
/* ***************************** */
/* ******* Input Styles ******** */
/* ***************************** */
input[type=text]::-ms-clear {
  display: none;
}
.input-feedback.validation {
  position: absolute;
  top: 7px;
  left: 275px;
  width: 15px;
  height: 15px;
  background: transparent;
  color: #271b15;
  font-weight: bold;
  border: none;
}
.login-title {
  margin: 30px 0;
}
/* Used to hide form fields which,
   if filled in will cause the form to be rejected
   hp = honeypot */
.hp-form-field {
  display: none;
}

/* Bootstrap 3 Responsive Override */
#wrapper {
  min-width: 768px !important;
}
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11 {
  float: left;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav.navbar-right.secondary {
  float: right;
}
.navbar-nav.navbar-right.secondary > li {
  float: left;
}
.navbar-header {
  float: left;
}
.navbar-fixed-top {
  border-radius: 0;
}
.modal.modal-download .modal-dialog {
  width: 925px;
}
.modal.modal-download ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modal.modal-download ul li {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
}
.modal.modal-download .bs-callout.bs-callout-info {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #d0e3f0;
  background-color: #f0f7fd;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 85%;
}
#fountainG {
  position: relative;
  width: 100px;
  height: 12px;
}
.fountainG {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  width: 10px;
  height: 10px;
  -moz-animation-name: bounce_fountainG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -moz-transform: scale(.3);
  -moz-border-radius: 8px;
  -webkit-animation-name: bounce_fountainG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(.3);
  -webkit-border-radius: 8px;
  -ms-animation-name: bounce_fountainG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -ms-transform: scale(.3);
  -ms-border-radius: 8px;
  -o-animation-name: bounce_fountainG;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -o-transform: scale(.3);
  -o-border-radius: 8px;
  animation-name: bounce_fountainG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  transform: scale(.3);
  border-radius: 8px;
}
#fountainG_1 {
  left: 0;
  -moz-animation-delay: 0.52s;
  -webkit-animation-delay: 0.52s;
  -ms-animation-delay: 0.52s;
  -o-animation-delay: 0.52s;
  animation-delay: 0.52s;
}
#fountainG_2 {
  left: 13px;
  -moz-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  animation-delay: 0.65s;
}
#fountainG_3 {
  left: 25px;
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  animation-delay: 0.78s;
}
#fountainG_4 {
  left: 38px;
  -moz-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  animation-delay: 0.91s;
}
#fountainG_5 {
  left: 50px;
  -moz-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  animation-delay: 1.04s;
}
#fountainG_6 {
  left: 63px;
  -moz-animation-delay: 1.17s;
  -webkit-animation-delay: 1.17s;
  -ms-animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
  animation-delay: 1.17s;
}
#fountainG_7 {
  left: 75px;
  -moz-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
#fountainG_8 {
  left: 88px;
  -moz-animation-delay: 1.43s;
  -webkit-animation-delay: 1.43s;
  -ms-animation-delay: 1.43s;
  -o-animation-delay: 1.43s;
  animation-delay: 1.43s;
}
@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: #fff;
  }
  100% {
    -moz-transform: scale(.3);
    background-color: rgba(255, 255, 255, 0);
  }
}
@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: #fff;
  }
  100% {
    -webkit-transform: scale(.3);
    background-color: rgba(255, 255, 255, 0);
  }
}
@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: #fff;
  }
  100% {
    -ms-transform: scale(.3);
    background-color: rgba(255, 255, 255, 0);
  }
}
@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: #fff;
  }
  100% {
    -o-transform: scale(.3);
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: #fff;
  }
  100% {
    transform: scale(.3);
    background-color: rgba(255, 255, 255, 0);
  }
}
/* ***************************** */
/* ******* Chart Styles ******** */
/* ***************************** */
#hostTabs,
#clusterTabs {
  margin-bottom: 0;
}
#showHideAdvancedControls {
  cursor: pointer;
}
.chart-controls {
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px dotted #ddd;
}
.chart-controls .btn-group {
  margin-right: 10px;
}
.chart-controls .dropdown {
  display: inline-block;
}
.chart-controls .custom-date-range {
  display: inline-block;
  margin-right: 10px;
}
.chart-controls .custom-date-range input[type="text"] {
  width: 100px;
  padding: 2px 5px;
}

.replicaSetChartSelector {
  margin: 10px 0;
  width: 70%;
}
.replicaSetChartSelector a {
  display: inline-block;
  color: #271b15;
  background: #ebebed;
  border: none;
  border-bottom: 1px solid #d0d0d5;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 2px 5px;
  cursor: pointer;
  margin-top: 10px;
}
.replicaChartSelector a:hover {
  text-decoration: none;
}
a.replicaSetChartSelected {
  background: #c3c3c9;
}
#hostDbsSelect,
.hostLabelsSelect {
  margin: -1px 0 -1px 0;
  padding: 1px;
  width: 80px;
  height: 20px;
  font-size: 11px;
}
#chartDetailDashboardSelect {
  margin-bottom: 0;
}
b[class*="chartSeries"] {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 0;
  color: #fff;
  opacity: .8;
  min-width: 171px;
  text-align: center;
}
.chartSeries1 {
  background-color: #3890da;
}
.chartSeries2 {
  background-color: #2413bd;
}
.chartSeries3 {
  background-color: #11a348;
}
.chartSeries4 {
  background-color: #e8920b;
}
.chartSeries5 {
  background-color: #cc2c1c;
}
.chartSeries6 {
  background-color: #d0c910;
}
.chartInfoFont1 {
  color: #3890da;
}
.chartInfoFont2 {
  color: #2413bd;
}
.chartInfoFont3 {
  color: #11a348;
}
.chartInfoFont4 {
  color: #e8920b;
}
.chartInfoFont5 {
  color: #cc2c1c;
}
.chartInfoFont6 {
  color: #d0c910;
}
/*b[class*="chartAnnotations"] {
  display: inline-block;
  min-width: 50px;
  color: #fff;
  text-align: center;
}*/
.chartAnnotationsRedFont {
  background-color: #ff0000;
}
.chartAnnotationsPurpleFont {
  background-color: #330033;
}
.chartAnnotationsYellowFont {
  background-color: #cccc33;
}
.chartName {
  font-size: 14px;
  line-height: 16px;
  float: left;
  margin-top: 6px;
  margin-left: 6px;
  color: #271b15;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  max-width: 135px;
}
.long-text-125px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 125px;
}
.chartName.with-select {
  max-width: 55px;
}
.chartButton {
  float: right;
}
.btn.chartButton {
  margin: 0;
  padding: 8px 10px;
  line-height: 10px;
  border: none;
  background: #ebebed;
  border-left: 2px solid #fff;
  font-size: 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.chartGroup { /* on dashboards page */
  margin: 0 0 20px 0;
}
.chart-container {
  background: #fff;
  padding-bottom: 10px;
  height: auto;
  width: 49.5%;
  margin-right: 0.5%;
  margin-top: 10px;
  float: left;
}
.chart-container:nth-child(2n+2) {
  margin-right: 0;
}
.chart-container .chart-header {
  background: #ebebed;
  margin-bottom: 5px;
}
.chart-container .chart-header select {
  margin: 5px 0 0 5px;
  padding: 0;
  font-size: 12px;
  height: 20px;
  width: auto;
  max-width: 80px;
  line-height: 20px;
}
.chart-container .chart-header .btn {
  border-bottom: none;
}
.chart-container .chart-header .btn:hover {
  border-bottom: none;
}
.chart-container .chart {
  width: 100%;
  height: 200px;
  cursor: crosshair;
}
@media (min-width: 1025px) {
  .chart-container {
    width: 33%;
    margin-right: 0.5%;
    margin-top: 10px;
  }
  .chart-container:nth-child(2n+2) {
    margin-right: 0.5%;
  }
  .chart-container:nth-child(3n+3) {
    margin-right: 0;
  }
  .chart-container .chart {
    width: 100%;
    height: 200px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1800px) {
  .chart-container {
    width: 24.5%;
    margin-right: 0.66%;
    margin-top: 10px;
  }
  .chart-container:nth-child(2n+2) {
    margin-right: 0.66%;
  }
  .chart-container:nth-child(3n+3) {
    margin-right: 0.66%;
  }
  .chart-container:nth-child(4n+4) {
    margin-right: 0;
  }
  .chart-container .chart {
    width: 100%;
    height: 250px;
  }
}
@media (min-width: 2300px) {
  .chart-container .chart {
    height: 300px;
  }
}
.chart-container.expanded-chart {
  width: 100%;
}
.chart-container.expanded-chart .chart {
  height: 360px;
}
#hostDbProfileLevels {
  display: none;
  width: 600px;
  margin: auto;
  margin-top: 20px;
}
.smallTimeLineChartLabel {
  height: 20px;
  font-size: 9px;
}
.clusterChartLabel {
  display: none;
}
.pieChartContainer {
  display: inline-block;
  padding-bottom: 20px;
  padding-top: 0;
  width: 390px;
  margin-left: 0;
  margin-right: 0;
}
.pieChartLabel {
  display: block;
  height: 20px;
  text-align: center;
}
.pieChart {
  display: block;
  width: 400px;
  height: 300px;
  float: left;
  border: none;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}
#timezoneMenu {
  border: 1px solid #eee;
}
/* Large desktop */
@media (min-width: 1200px) {
  .chartName {
    max-width: 200px;
  }
  .chartName.with-select {
    max-width: 80px;
  }
  .hostNameColumn {
    width: 300px;
  }
  .clusterNameColumn {
    width: 85px;
  }
  .tableClusterName {
    max-width: 85px;
  }
  .replSetNameColumn {
    width: 130px;
  }
  .tableReplName {
    max-width: 130px;
  }
  .chart-container select,
  .chartsWrapper select {
    max-width: 140px;
  }
  .btn.chartButton {
    font-size: 13px;
  }
}
/* ***************************** */
/* **** Cluster Page Styles **** */
/* ***************************** */
.host-type-select {
  margin-top: 10px;
}
.host-type-select > li > a {
  padding: 5px 10px;
}
#shardingChartLegend .collapseToggle:hover {
  text-decoration: none;
  color: #006cbc;
}
#shardingChartLegend .collapseToggle:hover .chevron {
  color: #271b15;
}
