//
  Build the little cog dropdown to take actions on list items.
  URL's for each action are appended to `base`, for example
  with base `dbs/local` -> `dbs/local/repair`
mixin cog(base, actions)
  span
    a.btn.btn-default.dropdown-toggle(href='#')
      span.glyphicon.glyphicon-cog
      b.caret

    ul.dropdown-menu
     - each action in actions
      li
        a(href='##{base}/#{action}') #{action}
