.table {
  .key {
    .small;
    padding-left: 0;
  }
  .value {
    background-color: @base-background-color;
    pre {
      padding: 0;
      border: 0;
      color: @text-color;
      background-color: initial;
      font-family: @font-family;
      font-size: @font-size-base;
      code {
        font-family: @font-family;
        font-size: @font-size-base;
      }
    }
  }
}

.table-responsive {
  max-width: 100%;
  overflow-y: auto;
}

.btn-group .next, .btn-group .previous {
  float: none;
  color: @link-color;
  padding: 0;
  background-color: transparent;
  border: 0;
}


.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
  color: @component-active-color;
}
