/**
 * Overrides of MMS styles
 */

#wrapper{
  padding-left: 110px !important;
}

/**
 * Log
 */
.log > span {
  display: block;
  max-height: 18px;
  overflow: hidden;
}

.log .name {
  font-size: 80%;
  width: 80px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 10px;
}

.log .initandlisten > .name{
  color: #868686;
}

.log .websvr > .name {
  color: #2F9C33;
}

.log .clientcursormon > .name {
  color: #812A92;
}

.filter-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

/**
 * Info
 */
.dl-horizontal dt {
  width: 90px !important;
}

.dl-horizontal dd {
  margin-left: 110px !important;
}


.creek {
  font-family: 'PT Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #494747;
}
.creek-stage {}
/**
 * A line of data.
 */
.creek-line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
/**
 * The area under the line.
 */
.creek-area {
  fill: red;
  stroke-width: 0;
}
/**
 * The tracking line.
 */
.creek path.domain {
  fill: none;
  stroke-width: 1px;
  stroke: #CCC;
}
/**
 * axis text.
 */
.creek text {
  color: #CCC;
  font-size: 10px;
}
.creek .x-axis line, .creek .y-axis line {
  stroke: #CCC;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.creek .y-axis {
  opacity: .7;
}
