/**
 * Overrides of MMS styles
 */

#wrapper{
  padding-left: 90px !important;
  padding-right: 10px !important;
}
/**
 * Log
 */
.log-container {
  font-family: monaco;
  font-size: 14px;
  line-height: 24px;
  background: #403d3d;
  color: #F8F8F2;
}
.log > span {
  display: block;
  max-height: 18px;
  overflow: hidden;
}

/**
magenta: FF80F4
yellow: FFEE99
pink: #F92672
cyan: #66D9EF
green: #A6E22E
orange: #FD971F
gray: #8C8C8C
peach: #DF826B
*/

.log .name {
  width: 140px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 20px;
}

.log .initandlisten .name, .log .name{
  color: #868686;
}

.log .clientcursormon .name {
  color: #812A92;
}

.filter-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

/**
 * Info
 */
.dl-horizontal dt {
  width: 90px !important;
}

.dl-horizontal dd {
  margin-left: 110px !important;
}

.creek {
  font-family: 'PT Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #494747;
}

.creek .line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.creek .area {
  fill: #000;
}

.creek path.domain {
  fill: none;
  stroke: none;
}

.creek text {
  color: #000;
  font-size: 10px;
}

.creek .axis {
  fill: #000;
}

.creek .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.creek .tick line{
  z-index: -1;
  stroke: #CCC;
  stroke-width: 1px;
  stroke-dasharray: 1 1;
  shape-rendering: crispEdges;
}

.soda-dark .creek {
  font-family: 'PT Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #F8F8F2;
  background: #242424;
}

.soda-dark .creek .line {
  fill: none;
  stroke: #F8F8F0;
  stroke-width: 2px;
}

.soda-dark .creek .area {
  fill: #403d3d;
}
.soda-dark .creek .axis {
  fill: #F8F8F2;
}
.soda-dark .creek text {
  color: #F8F8F2;
  font-size: 10px;
}

.soda-dark .creek .tick line{
  z-index: -1;
  stroke: #F8F8F2;
  stroke-width: 1px;
  stroke-dasharray: 1 1;
  opacity: 0.2;
}

.mms .creek {
  font-family: 'PT Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #000;
}

.mms .creek .line {
  fill: none;
  stroke: #064800;
  stroke-width: 2px;
}

.mms .creek .area {
  fill: #6ba442;
}

.mms .creek text {
  color: #CCC;
  font-size: 10px;
}

.panel {
  border-radius: 0 !important;
}
.panel-default > .panel-heading {
  background-color: #FFF !important;
}
.panel-heading .pull-right{
  margin-top: 10px;
}

.nav > li > a {
  color: #807f7f;
}
.nav > li > a:hover,
.nav > li > a:focus {
  color: #FFFFFF !important;
  /*border-color: #064800 !important;*/
  background: #6ba442 !important;

}
