@import "./index";

html, body {
  overflow: visible;
  width: initial;
  height: initial;
}
h1 a.anchor,
h2 a.anchor,
h3 a.anchor,
h4 a.anchor,
h5 a.anchor,
h6 a.anchor {
  display: none;
  outline: none;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
  line-height: 1;
  margin-left: -(@component-padding*3.33);
  display: block;
  cursor: pointer;
  position: absolute;
  padding-left: (@component-padding*2);
  padding-bottom: @component-padding;
  padding-top: @component-padding;
  padding-right: @component-padding;
  margin-top: (@component-padding*-1);
}


#toolbar {
  position: relative;
  border-bottom: 1px solid darken(@base-border-color, 10%);
  background-color: @tab-background-color;
  .btn{
    border-bottom: 1px solid darken(@base-border-color, 10%);
    .icon {
      margin-right: 2px;
    }
    .btn-label {
      padding-top: 8px;
    }
  }
}

#status {
  .logo {
    margin-right: @component-padding / 2;
  }
}

.kern {
  text-rendering: geometricPrecision;
  font-feature-settings: "kern", 1;
  -webkit-font-feature-settings: "kern", 1;
  // -moz-font-feature-settings: "kern";
  // -moz-font-feature-settings: "kern=1";
  font-kerning: normal;
}

.jumbotron {
  .container-fluid;
  .panel;
  .inset-panel;
  height: 150px;
  // background-color: @tab-background-color;
  box-shadow: 0px -10px 4px 10px #ccc;
  background: transparent;
  background: darken(@text-color-subtle, 20%);

  h1 {
    // margin-top: 200px;
    // color: fadeout(@text-color-subtle, 20%);
    // color: darken(@text-color-subtle, 20%);
    color: @tab-background-color;
    // color: @text-color-subtle;
    font-size: 4em;
    .kern;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: -2px;
    font-family: PT Sans Narrow;
    font-weight: bold;

  }
  .logo {
    margin-right: -10px;
    svg {
      width: 100px;
      height: 80px;
      path {
        // stroke: darken(@text-color-subtle, 20%);
        // fill: darken(@text-color-subtle, 20%);
        stroke: @tab-background-color;
        fill: @tab-background-color;
      }
    }
  }
  p{
    color: @tab-background-color;
  }

  ul {
    .list-unstyled;
    li {
      .inline-block;
    }
  }
}

.onesheet{
}



section {
  .clearfix;
  border-bottom: 1px solid @base-border-color;
  padding-top: @component-padding;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 100px;
  }
  p {
    font-size: (@font-size * 1.1);
    line-height: (@font-size * 2);
    margin-bottom: @component-padding * 2;
    text-rendering: optimizeLegibility;
  }
  a {
    color: @text-color-info;
    &:hover {
      color: saturate(spin(@text-color-info, 20), 20%);
    }
  }

  h2 {
    font-size: (@font-size-h2 * 1.1);
    .kern;
  }

  article {
    // border-top: 1px solid @base-border-color;
    padding: 0;
    margin-top: @component-padding * 2;
    padding-top: @component-padding;

    dl{
      .row;
      dt {
        .make-md-column(3);
      }
      dd {
        .make-md-column(9);
      }
    }

    h3 {
      font-size: (@font-size-h3 * 1.1);
      .kern;
    }

    .slide {
      margin-bottom: @component-padding * 2;
      .row;

      img {
        border: 1px solid @base-border-color;

        &:hover {
          border-color: @button-background-color-hover;
          border-radius: @component-border-radius;
          box-shadow: 0 0 (@component-border-radius*4) #ccc;
        }
      }
    }
    pre > code {
      font-family: @font-family-monospace;
      display: block;
      .panel;
      .inset-panel;
      .bordered;
      .padded;
      margin-bottom: (@font-size * 1.8);
    }
  }

  article > *:first-child{
    border-top: initial;
  }
}
