@series-color-1: @text-color-info;
 @series-fill-1: fadeout(@series-color-1, 20%);
@series-color-2: @text-color-warning;
 @series-fill-2: fadeout(@series-color-2, 20%);

@line-width: 4px;


// ### creek
//
// a d3 streaming time-series chart.
.creek {
  fill: transparent;
  border-radius: @component-border-radius;
  .line {
    stroke: @series-color-1;
    stroke-width: @line-width;
  }
  .area {
    fill: @series-fill-1;
    // stroke: @text-color;
    // fill: fadeout(@ui-site-color-1, 20%);
    // stroke-width: 2px;
  }
  .tick {
    stroke: fadeout(@text-color, 80%);
    font-size: 10px;

    line {
      z-index: -1;
      stroke-width: 1px;
      stroke-dasharray: 1 1;
      stroke: fadeout(@text-color, 90%);
    }
  }
}

// ### donut
//
// a d3 annulus chart.
.donut {
  .title {
    fill: @text-color-subtle;
    font-size: 120%;
  }
  .documents {
    .arc {
      stroke: @series-color-1;
      stroke-width: @line-width / 2;
      fill: @series-fill-1;
    }
    .label {
      fill: @series-color-1;
      stroke: none;
    }
  }
  .indexes {
    .arc {
      stroke: @series-color-2;
      stroke-width: @line-width / 2;
      fill: @series-fill-2;
    }
    .label {
      fill: @series-color-2;
      stroke: none;
    }
  }
}
