include ../mixins/article
include ../mixins/section

+section('Distribution')
  .col-md-12
    :markdown
      The current plan is to include a single binary with the
      mongodb distribution. There are no pre-requisites or
      platform limitations because the investment of the node.js
      community (yes it should run [just fine on a RaspberryPi](https://gist.github.com/stolsma/3301813)). We
      take advantage of the built-in, but not very well-known
      capability of extending node.js with a single file.

    script(src="https://gist.github.com/imlucas/9915985.js")

  +article('Download a Binary')
    p OSX binaries available on the&nbsp;
      a(href="https://github.com/10gen/mongoscope/releases") releases page

    .row
      .col-md-6
        +article('Running from Source')
          script(src='https://gist.github.com/imlucas/10327125.js')
      .col-md-6
        +article('Build a Binary')
          script(src='https://gist.github.com/imlucas/10327218.js')
