.panel.panel-default
  .panel-heading

  .panel-body
    .table-responsive(style="border:0;")
      table.table(style="background: none;")
        tbody
         for statement, _id in matrix
          tr
            td #{statement.resource}
            td(style="text-align: left;")
              abbr(title="Whats this?") #{statement.action}
