// ### creek
//
// a d3 streaming time-series chart.
.creek {
  fill: transparent;
  border-radius: @component-border-radius;
  .line {
    stroke: @ui-site-color-1;
    stroke-width: 1px;
  }
  .area {
    // stroke: @text-color;
    fill: fadeout(@ui-site-color-1, 20%);
    // stroke-width: 2px;
  }
  .tick {
    stroke: fadeout(@text-color, 80%);
    font-size: 10px;

    line {
      z-index: -1;
      stroke-width: 1px;
      stroke-dasharray: 1 1;
      stroke: fadeout(@text-color, 90%);
    }
  }
}

// ### donut
//
// a d3 annulus chart.
.donut {
  .title {
    fill: @text-color-subtle;
    font-size: 120%;
  }
  .documents {
    .arc {
      stroke: fadein(@ui-site-color-1, %10);
      fill: @ui-site-color-1;
    }
    .label {
      fill: @ui-site-color-1;
    }
  }
  .indexes {
    .arc {
      stroke: @ui-site-color-2;
      fill: fadeout(@ui-site-color-2, 10%);
    }
    .label {
      fill: @ui-site-color-2;
    }
  }
}
