include mixins/cog
include mixins/bytes

.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        h2 databases

      ul.list-group.panel-body
       - for database in databases
        li.list-group-item
          a(href='#dbs/#{database_name}')
            h3.pull-left(style='margin: 0px;') #{database_name}
