doctype html
html(lang='en')
  head
    title mongoscope
    link(rel='stylesheet', href='index.css')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
  body.mmsBody.container-fluid

    #wrapper
      include includes/loading-indicator
      #page.default
        .navbar.navbar-inverse.navbar-fixed-top.mms-navbar(style='border-bottom: 2px solid #6ba442;height: 50px;')
          .navbar-header
            a.navbar-brand(style='text-indent: 0;color: white;font-weight: bold;padding: 0;margin: 0;width: 100%;')
              img(src="img/scope-40.png", style='padding-left: 12px; padding-top: 2px;float: left;')
              div(style="padding-top: 10px;float: left; margin-left: 5px;") mongoscope
        #sidebar

        // And finally the main view where the party actually happens.
        #pageWrapper
          #mongoscope

  script(src='index.js')
