doctype html
html(lang='en')
  head
    title mongoscope
    link(rel='stylesheet', href='index.css')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
  body
    //- .container-fluid.min.min-2.min-3.soda-dark
    #toolbar
    #mongoscope

  script(src='index.js')
