doctype html
html(lang='en')
  head
    title mongoscope
    link(rel='stylesheet', href='index.css')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
  body.workspace.panes.pane.item-views.active
    #toolbar
    #mongoscope.padded.pane-item

  script(src='index.js')
