if users.length === 0

:markdown
  ```
  use admin;
  db.addUser( { user: 'scopey',
    pwd: 'scoperson',
    roles: ['userAdminAnyDatabase', 'clusterMonitor', 'hostManager']});
  ```
else
h1 security

.row
  .col-md-4
    ul.list-group
     - for user in users
      li.list-group-item
        h4
          a(href="#security/users/#{user._id}") #{user._id}
        ul.list-inline
         - for role in user.roles
          li
            span.label.label-default #{role.role}

  .col-md-8
    p details
