if users.length === 0

:markdown
  ```
  use admin;
  db.addUser( { user: 'scopey',
    pwd: 'scoperson',
    roles: ['userAdminAnyDatabase', 'clusterMonitor', 'hostManager']});
  ```
else

.row
  .col-md-6(style="padding-right: 0px;")

    // Big chosen dropdown to the left with all users and roles.
    // select user or use autocomplete to open `.details` pane.
    ul.list-group
     - for user in users
      li.list-group-item(style="border-right: 0px;")
        h4
          a(href="#security/users/#{user._id}") #{user._id}

  .col-md-6.details.list-group.list-group-item(style="border-left: 0px;")
