if users.length === 0
  include funnel/01-setup-auth
else

  .row
    .col-md-6(style="padding-right: 0px;")
      select.chosen-select(data-placeholder="security")
        option
        optgroup(label="users")
        each user in users
          option #{user._id}

        optgroup(label="roles")
        each role in roles
          option #{role._id}

    .col-md-6.details.list-group.list-group-item(style="border-left: 0px;")
