ul.nav.navbar-nav.side-nav
  - for section in sections
    li(class="#{section.name}")
      a.btn(href='##{section.name}')
        span(class='glyphicon glyphicon-#{section.icon}')
        div.text #{section.name}
