h2
- var keys = ['name', 'total', 'read', 'write', 'lock', 'readLock', 'writeLock', 'queries', 'getmore', 'insert', 'update', 'remove', 'commands']

table.grid.table.table-condensed.table-hover
  thead
    tr
     - for k in keys
      th= k
  tbody
   - for ns in namespaces
    tr
     - for k in keys
      if k === 'name'
        td #{ns[k]}
      else
        td #{ns[k].count} (#{ns[k].time}μs)
