include ../mixins/security

h2 #{role.isBuiltin ? 'Builtin Role' : 'Custom Role'}: #{role.role}

.row: .col-md-12
  each grant in role.grants
    - hidden = {}
    .section
      .section-heading
        h4 #{JSON.stringify(role.resource) || 'For any collection in any database'}
      table
       each action in grant.actions
        +security_row(action, hidden)
      +security_hiddenActions(hidden)
