include mixins/cog

h2 databases

ul
 - for database in databases
  li
    a= database.name
    +cog(['repair', 'drop', 'clone', 'what else?'])

h3 collections
ul
 - for collection in collections
  li
    a= collection.name
    +cog(['.validate()', 'datasize', 'indexsize', 'clone/copy', 'what else?'])

h3 indexes
ul
 - for index in indexes
  li
    a= index.name
    +cog(['all the things you\'d want to do to an index'])
