
@import "./less/bootstrap/glyphicons.less";
@import "./less/mongoscope/animation";
@import "./less/mongoscope/charts";

@mongo-green: #6ba442;

@brand-primary: @brand-primary;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

@matrix-column-width: 40px;

body {margin: 0;}

#toolbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 39px;
  z-index: 1100;
  padding-left: 0px;
  color: @text-color;
  position: relative;
  background-color: @base-background-color;
  .btn-group {
    .btn {
      display: inline-block;
      border-radius: 0;
      height: 39px;
      text-decoration: none;
      .transition(all 250ms ease);
      text-align: center;
      background-color: @base-background-color;
      background-image: none;

      @media (max-width: @screen-xs){
        padding-left: 8px;
        padding-right: 4px;
        padding-top: 4px;
      }

      .icon {
        .glyphicon();
        .inline-block-tight();
        font-size: 18px;
        vertical-align: middle;
        padding-left: 6px;
      }
      .label {
        .inline-block-tight();
        padding-top: 5px;
        @media (max-width: @screen-sm) {
          display: none;
        }
      }

    }
    .btn:first-child {
      border-left: none;
    }
    .btn:last-child,
    .btn.selected:last-child,
    .dropdown-toggle {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .btn:hover {
      text-decoration: none;
      color: @text-color-selected;
      background: @brand-primary;
    }
  }
}

.logo {
  float: right;
  line-height: 25px;
  display: inline-block;
  border-radius: 0;
  height: 39px;
  text-decoration: none;
  .transition(all 250ms ease);
  text-align: center;
  background-color: @base-background-color;
  background-image: none;
  color: fadeout(@text-color-subtle, 20%);

  svg{
    height: 35px;
    width: 29px;
    display: inline;

    path {
      stroke-width: 1;
      stroke: fadeout(@text-color-subtle, 20%);
      fill: fadeout(@text-color-subtle, 20%);
    }
  }
}

// ## app container
#mongoscope {
  .workspace();
  background: @base-background-color;
  margin-top: 38px;
  // box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 @background-color-highlight;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;

  .row {
    padding-top: @component-padding;
    .clearfix();
  }
}

// @table-border-color: 1px solid rgba(255, 255, 255, 0.1);
// .table {
//   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
//   thead {
//     tr {
//       th {
//         border: 0;
//         font-weight: normal;
//         padding: 0;
//         margin: 0;
//       }
//     }
//   }
//   tbody {
//     td {
//       border-top: 1px solid rgba(255, 255, 255, 0.1);
//       font-weight: 600;
//       padding: 0;
//       margin: 0;
//     }
//   }
// }

@import "./less/scope";
@import "./less/themes/atom-light";
