
@import "./less/bootstrap/glyphicons.less";
@import "./less/mongoscope/animation";
@import "./less/mongoscope/charts";

@mongo-green: #6ba442;

@brand-primary: @brand-primary;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

@matrix-column-width: 36px;

body {margin: 0;}

#toolbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 39px;
  z-index: 1100;
  padding-left: 0px;
  color: @text-color;
  position: relative;
  background-color: @base-background-color;
  .btn-group {
    .btn {
      display: inline-block;
      border-radius: 0;
      height: 39px;
      text-decoration: none;
      .transition(all 250ms ease);
      text-align: center;
      background-color: @base-background-color;
      background-image: none;

      @media (max-width: @screen-xs){
        padding-left: 8px;
        padding-right: 4px;
        padding-top: 4px;
      }

      .icon {
        .glyphicon();
        .inline-block-tight();
        font-size: 18px;
        vertical-align: middle;
        padding-left: 6px;

        // @media (max-width: @screen-xs){
        //   padding-left: 2px;
        //   padding-right: 2px;
        // }
      }
      .label {
        .inline-block-tight();
        padding-top: 5px;
        @media (max-width: @screen-sm) {
          display: none;
        }
      }

    }
    .btn:first-child {
      border-left: none;
    }
    .btn:last-child,
    .btn.selected:last-child,
    .dropdown-toggle {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .btn:hover {
      text-decoration: none;
      color: @text-color-selected;
      background: @brand-primary;
    }
  }
}

.logo {
  float: right;
  line-height: 25px;
  display: inline-block;
  border-radius: 0;
  height: 39px;
  text-decoration: none;
  .transition(all 250ms ease);
  text-align: center;
  background-color: @base-background-color;
  background-image: none;
  color: fadeout(@text-color-subtle, 20%);

  svg{
    height: 35px;
    width: 29px;
    display: inline;

    path {
      stroke-width: 1;
      stroke: fadeout(@text-color-subtle, 20%);
      fill: fadeout(@text-color-subtle, 20%);
    }
  }
}

// ## app container
#mongoscope {
  .workspace();
  background: @base-background-color;
  margin-top: 38px;
  // box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 @background-color-highlight;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;

  .row {
    padding-top: 20px;
    .clearfix();
  }
}



// @table-border-color: 1px solid rgba(255, 255, 255, 0.1);
// .table {
//   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
//   thead {
//     tr {
//       th {
//         border: 0;
//         font-weight: normal;
//         padding: 0;
//         margin: 0;
//       }
//     }
//   }
//   tbody {
//     td {
//       border-top: 1px solid rgba(255, 255, 255, 0.1);
//       font-weight: 600;
//       padding: 0;
//       margin: 0;
//     }
//   }
// }





// @todo: refactor.
// .list-group {
//   &-item {
//     background: none;
//     border: 0;

//     &-heading {
//       padding-bottom: 60px;
//       font-weight: normal;
//       padding-left: 20px;
//       padding-top: 5px;
//       color: #F8F8F2;
//     }
//   }
// }

// .list-group-item-heading {
//     color: #F8F8F2;
// }

// a.list-group-item:hover {
//   box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3);
//   color: #D0D0D0;
//   background: rgba(10, 10, 10, 0.3);
// }
// @import "./less/atom/atom";
// @import "./less/themes/atom-light";
// mark, .mark {
//   background-color: transparent;
// }

// ::-webkit-scrollbar {
//     width: 7px;
// }

// ::-webkit-scrollbar-corner {
//     background: rgba(38, 38, 38, 0);
// }

// ::-webkit-scrollbar-track {
//     background: rgba(38, 38, 38, 1.0);
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 8px;
//   background: #474747;
// }

// .panes {
//   .pane {
//     background-color: lighten(@app-background-color, 3%);

//     &:focus {
//       background-color: @app-background-color;
//     }
//   }

//   .pane-row > * {
//     border-right: 1px solid @pane-item-border-color;
//     &:last-child { border-right: none; }
//   }

//   .pane-column > * {
//     border-bottom: 1px solid @pane-item-border-color;
//     &:last-child { border-bottom: none; }
//   }
// }


// .list-group, .list-tree {
//   li:not(.list-nested-item),
//   li.list-nested-item > .list-item {
//     .text(normal);
//   }

//   li:not(.list-nested-item).selected,
//   li.list-nested-item > .list-item.selected {
//     .text(selected);
//   }

//   li:not(.list-nested-item),
//   li.list-nested-item > .list-item {
//     line-height: @component-line-height;
//     text-wrap: none;
//     white-space: nowrap;
//   }

//   .generate-list-item-text-color(@class) {
//     li:not(.list-nested-item).text-@{class},
//     li.list-nested-item.text-@{class} > .list-item {
//       .text(@class);
//     }
//   }
//   .generate-list-item-text-color(subtle);
//   .generate-list-item-text-color(info);
//   .generate-list-item-text-color(success);
//   .generate-list-item-text-color(warning);
//   .generate-list-item-text-color(error);
//   .generate-list-item-text-color(selected);

//   .generate-list-item-status-color(@color, @status) {
//     li:not(.list-nested-item).status-@{status},
//     li.list-nested-item.status-@{status} > .list-item {
//       color: @color;
//     }
//   }
//   // .generate-list-item-status-color(@text-color-subtle, ignored);
//   // .generate-list-item-status-color(@text-color-added, added);
//   // .generate-list-item-status-color(@text-color-renamed, renamed);
//   // .generate-list-item-status-color(@text-color-modified, modified);
//   // .generate-list-item-status-color(@text-color-removed, removed);

//   li:not(.list-nested-item).selected,
//   li.list-nested-item.selected > .list-item {
//     .text(selected);
//   }
// }

// .list-group .selected:before, .list-tree .selected:before {
//   content: '';
//   background-color: #4182c4;
//   position: absolute;
//   left: 0;
//   right: 0;
//   height: @component-line-height;
// }

// .list-group, .list-tree {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   cursor: default;
// }

// .list-group .selected > *, .list-tree .selected > * {
//   position: relative;
// }

// a.list-group-item.list-item {
//   .btn();
//   padding: @component-padding;
// }

// a.list-group-item.list-item:hover {
//   .btn();
//   padding: @component-padding;
//   background-color: @brand-primary;
// }

// .select-list ol.list-group,
// &.select-list ol.list-group {
//   li.two-lines {
//     .secondary-line { color: @text-color-subtle; }
//     &.selected .secondary-line {
//       color: lighten(@text-color-subtle, 10%);
//       text-shadow: none;
//     }
//   }

//   // We want to highlight the background of the list items because we dont
//   // know their size.
//   li.selected {
//     background-color: @background-color-selected;
//     &:before{ display: none; }
//   }

//   &.mark-active{
//     @active-icon-size: 14px;

//     // pad in front of the text where the icon would be We'll pad the non-
//     // active items with a 'fake' icon so other classes can pad the item
//     // without worrying about the icon padding.
//     li:before {
//       content: '';
//       background-color: transparent;
//       position: static;
//       display: inline-block;
//       left: auto; right: auto;
//       height: @active-icon-size;
//       width: @active-icon-size;
//     }
//     > li:not(.active):before {
//       margin-right: @component-icon-padding;
//     }
//     li.active {
//       // .octicon(check, @active-icon-size);
//       &:before {
//         margin-right: @component-icon-padding;
//         color: @text-color-success;
//       }
//     }
//   }
// }

// .select-list.popover-list {
//   background-color: @overlay-background-color;
//   box-shadow: 0 0 10px @base-border-color;
//   padding: @component-padding/2;
//   border-radius: @component-border-radius;
//   border: 1px solid @overlay-border-color;

//   .editor {
//     margin-bottom: @component-padding/2;
//   }

//   .list-group li {
//     padding-left: @component-padding/2;
//   }
// }


// .block {
//   display: block;
// }

// ul.block, div.block {
//   margin-bottom: @component-padding;
// }

// .inline-block, .inline-block-tight {
//   display: inline-block;
//   vertical-align: middle;
// }

// .inline-block-tight {
//   margin-right: 5px;
// }

// div > .inline-block:last-child, div > .inline-block-tight:last-child {
//   margin-right: 0;
// }

// .text-subtle { .text(subtle); }
// .text-smaller { font-size: 0.9em; }
// .text-highlight { .text(highlight); }
// .text-error { .text(error); }
// .text-info {
//   .text(info);
//   &:hover { color: @text-color-info; }
// }
// .text-warning {
//   .text(warning);
//   &:hover { color: @text-color-warning; }
// }
// .text-success {
//   .text(success);
//   &:hover { color: @text-color-success; }
// }

// .highlight {
//   .label();
//   color: @text-color-highlight;
//   font-weight: bold;
//   text-shadow: none;
//   background-color: @background-color-highlight;
//   border-radius: @component-border-radius;
//   padding: 1px 3px;
// }

// .highlight-color(@name, @color, @text-color) {
//   .highlight-@{name} {
//     color: lighten(saturate(@text-color, 0%), 30%);
//     font-weight: bold;
//     text-shadow: none;
//     background-color: fadeout(@color, 60%);
//     border-radius: @component-border-radius;
//     padding: 1px 3px;
//   }
// }
// .highlight-color(info, @background-color-info, @text-color-info);
// .highlight-color(warning, @background-color-warning, @text-color-warning);
// .highlight-color(error, @background-color-error, @text-color-error);
// .highlight-color(success, @background-color-success, @text-color-success);


// .highlight-info {
//   .label();
//   background-color: @background-color-info;
//   border-color: darken(@background-color-info, 10%);
// }

// .highlight-warning {
//   .label();
//   background-color: @background-color-warning;
//   border-color: darken(@background-color-warning, 10%);
// }

// .highlight-error {
//   .label();
//   background-color: @background-color-error;
//   border-color: darken(@background-color-error, 10%);
// }
// .highlight-success {
//   .label();
//   background-color: @background-color-success;
//   border-color: darken(@background-color-success, 10%);
// }

// .padded {
//   padding: @component-padding;
// }

// .bordered {
//   margin: 0;
//   border-color: @base-border-color;
// }

// .panel-heading.bordered {
//   border: 1px solid @base-border-color;
//   border-bottom: 0px;
// }
// .panel-bottom.bordered {
//   border: 1px solid @base-border-color;
//   border-top: 0px;
// }

// .tool-panel {
//   .panel();
//   .text(normal);
//   position: relative;
//   background-color: @tool-panel-background-color;

//   &.panel-bottom {
//     border-top: 1px solid @tool-panel-border-color;
//     box-shadow: inset 0 1px 0 @background-color-highlight;
//   }

//   &.panel-left {
//     border-right: 1px solid @tool-panel-border-color;
//   }

//   &.panel-right {
//     border-left: 1px solid @tool-panel-border-color;
//   }
// }

// .inset-panel {
//   border-radius: @border-radius-base;
//   position: relative;
//   background-color: @inset-panel-background-color;
// }

// .is-blurred {
//   .tool-panel,
//   .inset-panel {
//   }
// }

// .btn-background (@color, @hover-color, @selected-color, @border-color, @text-color, @text-color-hover) {
//   @border-shadow: inset 0 0 0 1px @border-color;
//   @active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
//   color: @text-color;
//   background-color: transparent;
//   background-image: -webkit-linear-gradient(@color, darken(@color, 2%));
//   box-shadow: @border-shadow;

//   &:hover {
//     color: @text-color-hover;
//     background-image: -webkit-linear-gradient(@hover-color, darken(@hover-color, 2%));
//   }
//   &:active,
//   &.selected:hover:active {
//     box-shadow: @active-shadow, @border-shadow;
//   }
//   &.selected,
//   &.selected:hover {
//     color: @text-color-selected;
//     box-shadow: inset 0 2px 5px rgba(0, 0, 0,.3), @border-shadow;
//     text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
//     background-image: -webkit-linear-gradient(darken(@selected-color, 2%), @selected-color);
//   }
//   &.selected:hover {
//     box-shadow: @border-shadow;
//     background-image: -webkit-linear-gradient(@selected-color, darken(@selected-color, 2%));
//   }
// }

// .btn-variant (@color) {
//   @bg: darken(@color, 10%);
//   @hover: @color;
//   @selected: @color;
//   @border: fadeout(darken(@color, 20%), 50%);
//   .btn-background(@bg, @hover, @selected, @border, @text-color-selected, @text-color-selected);
// }

// .btn {
//   // margin: 0;
//   border-width: 0px;
//   border-style: solid;
//   border-radius: @component-border-radius;
//   line-height: @component-line-height;
//   padding: 0 @component-padding 0 @component-padding;
//   cursor: pointer;
//   .btn-background(@button-background-color, @button-background-color-hover, @button-background-color-selected, @button-border-color, @text-color, @text-color-highlight);
// }

// .btn.btn-primary {
//   .btn-variant(@brand-primary);
// }
// .btn.btn-info {
//   .btn-variant(@background-color-info);
// }
// .btn.btn-success {
//   .btn-variant(@background-color-success);
// }
// .btn.btn-warning {
//   .btn-variant(@background-color-warning);
// }
// .btn.btn-error {
//   .btn-variant(@background-color-error);
// }

// .btn-group > .btn {
//   border: none;
//   margin: 0;
//   border-width: 0;
//   margin-left: -1px;
// }
// .btn-group > .btn:first-child {
//   border-top-left-radius: @component-border-radius;
//   border-bottom-left-radius: @component-border-radius;
// }

// .btn-group > .btn:last-child {
//   border-top-right-radius: @component-border-radius;
//   border-bottom-right-radius: @component-border-radius;
// }

// .btn-toolbar > *:first-child {
//   margin-left: 0;
// }

// .btn-toolbar > .btn-group {
//   float: none;
//   display: inline-block;
// }
// .btn-toolbar .btn-group {
//   float: left;
// }
// .btn-toolbar > * {
//   margin-right: 0;
//   margin-left: 5px;
// }

// .btn-toolbar:before, .btn-toolbar:after {
//   content: " ";
//   display: table;
// }

// .btn-group-sm > .btn {
//   font-size: (@font-size-base - 1);
// }

// .btn-group-xs > .btn {
//   font-size: (@font-size-base - 2);
// }

// .btn-group, .btn-group-vertical {
//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
// }
// .panel-heading {
//   .text(normal);

//   border-bottom: 1px solid @panel-heading-border-color;
//   border-top: 1px solid fadein(@background-color-highlight, 10%);

//   background-color: transparent;
//   background-image: -webkit-linear-gradient(@panel-heading-background-color, darken(@panel-heading-background-color, 10%));

//   .btn {
//     padding-left: 8px;
//     padding-right: 8px;

//     @bg: lighten(@button-background-color, 10%);
//     @hover: lighten(@button-background-color-hover, 10%);
//     @selected: lighten(@button-background-color-selected, 10%);
//     @text: lighten(@text-color, 10%);
//     // .btn-background(@bg, @hover, @selected, @text);
//   }
// }

// .list-group{
//   li:not(.list-nested-item),
//   li.list-nested-item > .list-item {
//     .text(normal);
//   }

//   .generate-list-item-text-color(@class) {
//     li:not(.list-nested-item).text-@{class},
//     li.list-nested-item.text-@{class} > .list-item {
//       .text(@class);
//     }
//   }
//   .generate-list-item-text-color(subtle);
//   .generate-list-item-text-color(info);
//   .generate-list-item-text-color(success);
//   .generate-list-item-text-color(warning);
//   .generate-list-item-text-color(error);
//   .generate-list-item-text-color(selected);

//   .generate-list-item-status-color(@color, @status) {
//     li:not(.list-nested-item).status-@{status},
//     li.list-nested-item.status-@{status} > .list-item {
//       color: @color;
//     }
//   }

//   .generate-list-item-status-color(@text-color-subtle, ignored);

//   li:not(.list-nested-item).selected,
//   li.list-nested-item.selected > .list-item {
//     .text(selected);
//   }
// }

// .select-list ol.list-group,
// &.select-list ol.list-group {
//   li.two-lines {
//     .secondary-line { color: @text-color-subtle; }
//     &.selected .secondary-line {
//       color: @text-color;
//       text-shadow: none;
//     }
//   }

//   // We want to highlight the background of the list items because we dont
//   // know their size.
//   li.selected {
//     background-color: @background-color-selected;
//     &:before{ display: none; }
//   }

//   &.mark-active{
//     @active-icon-size: 14px;

//     // pad in front of the text where the icon would be We'll pad the non-
//     // active items with a 'fake' icon so other classes can pad the item
//     // without worrying about the icon padding.
//     li:before {
//       content: '';
//       background-color: transparent;
//       position: static;
//       display: inline-block;
//       left: auto; right: auto;
//       height: @active-icon-size;
//       width: @active-icon-size;
//     }
//     > li:not(.active):before {
//       margin-right: @component-icon-padding;
//     }
//     li.active {
//       // .octicon(check, @active-icon-size);
//       &:before {
//         margin-right: @component-icon-padding;
//         color: @text-color-success;
//       }
//     }
//   }
// }

// code {
//   border-radius: @component-border-radius;
//   font-weight: normal;
//   color: @text-color-highlight;
//   text-shadow: @base-border-color;
//   background: @background-color-highlight;
// }

// .editor.mini {
//   color: @text-color;
//   background-color: @input-background-color;
//   border: 1px solid @input-border-color;
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
//   border-radius: @component-border-radius;
//   padding-left: @component-padding/2;
//   width: 100%;
//   margin-bottom: 10px;

//   .cursor { border-color: #000; }
//   .selection .region { background-color: rgba(0, 0, 0, .2); }
// }

// .editor.editor-colors.mini.is-focused {
//   background-color: lighten(@input-background-color, 5%);
//   .selection .region { background-color: lighten(@background-color-info, 30%); }
// }

// // FIXME: these should go in syntax themes?
// .editor .gutter.drop-shadow {
//   -webkit-box-shadow: -2px 0 10px 2px #222;
// }

// @-webkit-keyframes highlight {
//   from { background-color: rgba(100, 255, 100, 0.7); }
//   to { background-color: null; }
// }

// .select-list .loading .badge {
//   margin-left: 10px;
// }
// .badge:empty {
//   display: none;
// }
// .badge {
//   font-weight: normal;
//   color: #ffffff;
//   text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
//   background: rgba(255, 255, 255, 0.07);
// }
// .badge {
//   display: inline-block;
//   min-width: 10px;
//   padding: 3px 7px;
//   font-size: 12px;
//   font-weight: bold;
//   color: #ffffff;
//   line-height: 1;
//   vertical-align: baseline;
//   white-space: nowrap;
//   text-align: center;
//   background-color: #999999;
//   border-radius: 10px;
// }

// .editor .highlighted.selection .region {
//   -webkit-animation-name: highlight;
//   -webkit-animation-duration: 1s;
//   -webkit-animation-iteration-count: 1;
// }

// .editor.mini .scroll-view {
//   overflow: hidden;
// }
// .editor .scroll-view {
//   overflow-x: auto;
//   overflow-y: hidden;
//   -webkit-flex: 1;
//   min-width: 0;
//   position: relative;
// }

// .select-list ol.list-group li .primary-line,
// .select-list ol.list-group li .secondary-line {
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   overflow: hidden;
// }
// .select-list ol.list-group li.two-lines .secondary-line,
// .select-list ol.list-group li.two-lines .secondary-line {
// color: #555555;
// }
// .select-list ol.list-group li.two-lines .secondary-line,
// .select-list ol.list-group li.two-lines .secondary-line {
//   color: #555555;
// }

// .overlay .select-list ol.list-group li.two-lines,
// .overlay.select-list ol.list-group li.two-lines {
//   padding: 5px 10px;
// }
// .styleguide .overlay, .styleguide .popover-list {
//   position: relative;
// }
// .overlay.from-top {
//   top: 0;
//   border-top: none;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

// .overlay {
//   position: absolute;
//   left: 50%;
//   width: 500px;
//   margin-left: -250px;
//   z-index: 9999;
//   box-sizing: border-box;
//   background-color: #fff;
//   padding: 10px;
// }


// .overlay {
//   color: #aaaaaa;
//   background-color: #202123;
//   padding: 10px;
//   border: 1px solid rgba(255, 255, 255, 0.07);
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//   border-radius: 2px;
// }

// .overlay .select-list ol.list-group li,
// .overlay.select-list ol.list-group li {
//   padding: 10px;
//   border-bottom: 1px solid #202123;
// }

// .select-list ol.list-group li.selected, .select-list ol.list-group li.selected {
//   background-color: #4182c4;
// }


@import "./less/scope";
@import "./less/themes/atom-light";
