include ../mixins/nf
include ../mixins/bytes

.col-md-12
  h1.page-header #{database.name}

  .statsbar
    .col-md-3
      .statsbox
        .statsbox-name Documents
        .statsbox-count
          +nf(database.stats.document_count)
        .statsbox-size
          +bytes(database.stats.document_size)
        .statsbox-average-size avg&nbsp;
          +bytes(database.stats.document_size/database.stats.document_count)
    .col-md-3
      .statsbox
        .statsbox-name Indexes
        .statsbox-count
          +nf(database.stats.index_count)
        .statsbox-size
          +bytes(database.stats.index_size)
        .statsbox-average-size avg&nbsp;
          +bytes(database.stats.index_size/database.stats.index_count)
    .col-md-3
      .statsbox
        .statsbox-name Index Storage Cost
        .statsbox-count
          +nf(database.stats.index_size/database.stats.storage_size*100, 2)
          | %
        .statsbox-size
          +bytes(database.stats.index_size/database.stats.document_count)
        .statsbox-average-size per index/document
    .col-md-3


.col-md-12
  .graph(id='graph-#{cid}')

