doctype html
html(lang='en')
  head
    title mongoscope
    link(rel='stylesheet', href='bootloader.css')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
  body
    .bootloader
      .message
        img(src='img/leafy-anim.gif' alt='loading mongoscope')
        h1 mongoscope
        span loading&hellip;

  script(src='bootloader.js')
