include mixins/cog
include mixins/bytes

h2 databases

a.btn.btn-primary(data-action='create', title='create new database')
  i.glyphicon.glyphicon-plus
  | create


ul
 - for database in databases
  li
    a(href='#dbs/#{database.name}')= database.name
    +cog('#dbs/#{database.name}', ['repair', 'drop', 'clone', 'fsync'])
