
include includes/host-picker

.btn-group.inline-block
  - for section in sections
    a(class="btn #{section.name}", href='##{section.name}')
      span(class='icon glyphicon-#{section.icon}')
      div.btn-label #{section.name}
